[2021-04-21 09:33] Ansh1980 opened #61 "Unexpected error thrown when adding rules to finalised datamodel"
Adding New Rules throws error when Data Model/Class is finalised. Peter G suggested backend should return this and then UI handles accordingly.
Error -
additional: "User does not have the necessary permissions"
path: "/api/codeSets/242994b0-7682-4ef0-a61f-f80a2858d731/rules"

[2021-04-21 09:37] Ansh1980 opened #62 "DataModel - Main Branch is empty"
This error is occurring  only on certain DataModels which is finalised & Branch  is empty. Screenshot attached shows branch should be "main". Right now because of the error it redirects to Server Error Page.

[code]
<img width="368" alt="Screenshot 2021-04-21 at 11 34 44" src="https://user-images.githubusercontent.com/40128949/115540182-bd054c80-a295-11eb-9187-a210a71fa772.png">

[2021-04-21 10:59] #61 closed, assigned to nobody

[2021-04-23 14:03] olliefreeman opened #63 "AvailableActions for a DataModel are not correct"
**Describe the bug**
Once a datamodel is created it does not show all the availableActions which should be allowed, this means the UI does not show the correct buttons

[2021-04-27 08:38] olliefreeman commented on #63
Actually they are, theyre just confusing. Will be making an update in another branch to make them clearer

[2021-04-27 08:38] #63 closed

[2021-04-28 09:16] gammonpeter opened #64 "Group Access Public Readable causes new group to be created"
**Describe the bug**![image](https://user-images.githubusercontent.com/53000624/116379215-b3866200-a80a-11eb-875e-73713e570674.png)Upon calling http://localhost:8080/api/dataModels/fa541d3b-28a1-42bf-a0f5-3642567b7928/readByEveryone, a new group is created when it shouldn't

**To Reproduce**
Steps to reproduce the behavior:
Go to a DM click user groups and click publicly  readable, reload group ac

[2021-04-28 09:33] olliefreeman commented on #62
closing as suspected bug from a bad-state ui

[2021-04-28 09:33] #62 closed

[2021-04-28 17:20] olliefreeman commented on #64
So there should actually be at least 1 group in the list as if you create a Model a group is auto generated for your user to own that model. The "bootstrapped" models fall into a hole where they completely inherit access from the folder.

However there should not be an additional securableResourceGroupRoles each time you hit the endpoint

[2021-04-29 14:54] #64 closed

[2021-05-05 10:08] gammonpeter opened #67 "Suggested Links returns 404"
**Describe the bug**
When calling  get "/suggestLinks/$otherDataModelId"(controller: 'dataModel', action: 'suggestLinks') it returns a 404. There is difference in property name between mappings and interceptor.

[2021-05-05 10:16] olliefreeman commented on #67
Fixed

[2021-05-05 10:16] #67 closed

[2021-05-10 20:01] jamesrwelch opened #74 "Bootstrap a single folder to improve experience on fresh install"
When you first install an instance of Mauro, you cannot create or import any models until you've created a folder.  It would make sense for a fresh install to include a single, default folder to reduce the number of steps between installing and having usable models.

[2021-05-12 16:17] theresanoble opened #69 "Cannot import using SQL Server Importer"
**Describe the bug**
exception while trying to import

**To Reproduce**
Steps to reproduce the behaviour:
attempt to import

[code]

[2021-05-13 08:31] theresanoble opened #70 "Branched model does not show Summary Metadata"
**Describe the bug**
In a branched model, the summary metadata is not visible, despite it being visible in the finalised version.

**To Reproduce**
Steps to reproduce the behaviour:
1.  I was using the CDW instance
2.  Open COVID-19 Data Product Database both the finalised and documentation versions
3. open any of the data elements (same one in both models) -- I was looking at data_criteria_bioche

[2021-05-14 10:51] olliefreeman commented on #69
rasied in correct repo https://github.com/MauroDataMapper-Plugins/mdm-plugin-database/issues/5

[2021-05-14 10:51] #69 closed

[2021-05-18 13:20] olliefreeman commented on #74
change of mind after seeing it in mdm-application-build .... it doesnt belong there ...
* we should bootstrap the folder in the mdm-core/**/Bootstrap with a simple description
* we should update the folder in mdm-security/**/Bootstrap
   * adding the "access information"
   * adding the administrator group access

[2021-05-18 20:29] jamesrwelch opened #76 "Error on displaying Data Model"
**Describe the bug**
Stack trace:
[code]

**To Reproduce**
Steps to reproduce the behaviour:
Clicking on a data model

[2021-05-19 09:51] jamesrwelch opened #77 "Inconsistent trimming during Terminology import"
The terminology below has a term code with a space in it (`A `).  When the terms are imported, the code is trimmed, which means that when the relationship is created, it get a null pointer exception.  Is there anything we can do to stop this?  It's a minor issue, but took me a long while to find with a much larger terminology.

[code]

[2021-05-19 09:54] jamesrwelch commented on #77
JSON Terminology importer

[2021-05-19 09:57] olliefreeman commented on #77
theres no trimming actively happening..so this is odd

[2021-05-19 10:38] olliefreeman commented on #76
fixed

[2021-05-19 10:38] #76 closed

[2021-05-19 10:41] olliefreeman commented on #77
Please create a test class `JsonTerminologyImporterImporterServiceSpec` which you can use the `JsonTerminologyImporterExporterServiceSpec` to properly add import tests for the files we test exporting, and add a new file for import testing using the attached JSON

[2021-05-20 11:00] #74 closed

[2021-05-20 16:16] olliefreeman commented on #77
grails automatically trims when it databinds

[2021-05-26 07:58] olliefreeman opened #79 "available actions for public models contain invalid entries when not logged in"
when not logged in It appears publicly readable models contain the operations

* merge
* create new version

they should not, only authenticated people should be able to do this

[2021-06-02 15:18] #77 closed

[2021-06-08 09:23] pjmonks opened #82 "Cached folder tree request returns 500 response"
**Describe the bug**
When requesting the folder tree using `/api/tree/folders`, this will return a `500` error. Only if the `noCache` query parameter is supplied will a `200` response come back.

This was first noticed after pulling down latest changes after versioned folder support was added to the tree.

**To Reproduce**
Send this request, which is the same as what the UI does on the first load

[2021-06-08 12:07] olliefreeman commented on #82
Obviously we want to handle it if the parameter is not even in the url but what happens if you try with noCache=false ???

[2021-06-08 12:57] pjmonks commented on #82
@olliefreeman Just tried `noCache=false` and it makes no difference, still returns a `500` response.

[2021-06-11 07:55] pjmonks opened #83 "Folder tree endpoint can incorrectly return "createVersionedFolder" action"
**Describe the bug**
It is possible for the `createVersionedFolder` allowed action to be returned in the `/api/tree/folders` response in some cases when it should not be allowed.

**To Reproduce**

1. Create a new Versioned Folder called "Versioned Folder Test". This can be at the root of the tree or within an existing folder, but it must be the first ancestor of its type.
2. After that, create a

[2021-06-11 08:06] pjmonks commented on #82
As a final attempt to remove this issue I was having, I created a new bootstrapped database from `mdm-testing-functional` and now I don't have these tree loading issues anymore.

I would be interested to know what cached data was causing the issue originally, especially if this means other users have issues with their own upgraded instances, but the immediate problem seems resolved for me now.

[2021-06-11 08:13] olliefreeman commented on #82
we were struggling to replicate it...however thanks to the stacktrace i can work on how to actually make sure it cant happen

[2021-06-11 09:10] olliefreeman commented on #83
what do we think is the likelihood that a user would move a folder from inside a VF into another VF????

[2021-06-11 14:02] pjmonks opened #84 "Cannot get folder domain types from tree endpoints"
**Describe the bug**
The UI uses `/api/tree/{containerDomainType}/{modelDomainType}/{id}` to focus on one element in the tree, making that top focus - useful for very large models. This feature has been tried to be extended to support folders (and versioned folders), but the endpoint fails.

**To Reproduce**
1. Ensure the tree has at least one Data Model, Terminology, Folder and Versioned Folder
2

[2021-06-15 15:15] #84 closed

[2021-06-17 08:33] pjmonks opened #88 "Cannot branch, version or fork a finalised Versioned Folder that contains child content"
**Describe the bug**

When you have a finalised Versioned Folder that contains child content (e.g. models, which are also finalised) and then try to create a new branch/version/fork of the Versioned Folder, the backend returns a `500 Internal Server Error` response. This does not happen though if doing the same for an empty finalised Versioned Folder.

**To Reproduce**

1. Create a new versioned f

[2021-06-17 10:40] #82 closed

[2021-06-17 10:40] #83 closed

[2021-06-17 13:43] olliefreeman commented on #88
odd thing is that there are tests for this with content

[2021-06-17 13:45] olliefreeman commented on #88
This is now fixed

[2021-06-17 14:17] olliefreeman commented on #88
not fixed

[2021-06-17 15:47] pjmonks opened #89 "Cannot import a model into a Versioned Folder"
**Describe the bug**

When trying to import a model into a draft Versioned Folder, the import fails returning a `500 Internal Server Error`.

**To Reproduce**

Using the UI:

1. Create a draft Versioned Folder called "Test Versioned Folder".
2. Now from the UI select the "Import > Import Data Models" option.
3. Select any suitable importer (JSON for using the sample below).
4. Select the source fi

[2021-06-21 12:54] oughnic opened #91 "Subscribing to a model on the same catalogue gives error"
Subscribing to a model on the same catalogue gives error
[code]

**To Reproduce**
Create and API key on an instance
Use the API key to subscribe to the catalogue (subscribe to its own endpoint)
Subscribe to a model

**Expected behavior**
The subscribed model is expected to be
**Screenshots**
![Mauro-error](https://user-images.githubusercontent.com/27196895/122764319-45549d80-d297-11eb-82cd-71a6aa1

[2021-06-21 13:14] jamesrwelch opened #90 "Exception on Subscribed catalogue view"
Local instance subscribed to itself, get the following exception when trying to view the list of models in the tree:

[code]

[2021-06-21 13:40] olliefreeman commented on #90
this is XML issue...the ATOM feed obviously isnt working properly and as such we've generated something bizarre...either `\n      2021-06-10T20:57:52Z\n    ` or ` >>       2021-06-10T20:57:52Z >>     ` ... from the stacktrace i cant actually tell which....either way this would be solved if we didnt use ATOM which is currently pointless anyway as the minute we've used atom we have to use our own en

[2021-06-21 16:34] olliefreeman commented on #91
also you shouldn't be able to subscribe to a model from the same catalogue as there will be a failure on the label and authority being the same...so there seem to be 2 issues here...
1. Whats causing the validation error Nicholas has sent
2. Why isn't there also a validation error relating to the authority and label

[2021-06-21 16:35] olliefreeman commented on #91
UI sends
[code]
[code]

[2021-06-21 17:43] olliefreeman commented on #91
so the workflow actually expects the API to "federate" the subscribed model when its created, this currently doesn't happen, it expects a separate call to perform the federation.
Thie expectation actually doesn't make sense...the API should federate the model when its subscribed.

[2021-06-24 13:31] jamesrwelch opened #92 "ClassCastException on rendering tree with versioned folder"
Error on tree rendering with Versioned Folder

[code]

[2021-06-24 13:38] jamesrwelch commented on #92
Noticed I was using the wrong branch, but confirmed issue in develop branch too:
[code]

[2021-06-24 14:51] jamesrwelch commented on #92
A small bit of debugging, and it looks as though the Folders are still hibernate proxy objects:
`class uk.ac.ox.softeng.maurodatamapper.core.container.Folder$HibernateProxy$prtN1QQm`

[2021-06-24 16:00] olliefreeman commented on #92
this is the same issue as #82 which i thought id solved...the issue is replicating it with reliability

[2021-06-24 16:02] olliefreeman commented on #92
and drat ... its unwrapping them in the path location but not in the constructor...i loathe hibernate proxy objects....
as a note somewhere ... using "list" in grails/hibernate proxy entities are NOT unwrapped as part of the call which is whats happening here

[2021-06-25 10:17] OButlerOcc opened #96 "UI: MetaData is not rendering under the 'other properties tag'"
The server is returning a 200 response with content but it is not rendering. See screenshot

![image](https://user-images.githubusercontent.com/85611988/123410938-cbc6f300-d5a7-11eb-83da-e0c4598f499b.png)

![image](https://user-images.githubusercontent.com/85611988/123411074-f31dc000-d5a7-11eb-8daf-69c6128cc088.png)

Json response from ss:
[response.json.txt](https://github.com/MauroDataMapper/mdm

[2021-06-25 10:41] oughnic opened #93 "Merge error"
**Describe the bug**
Error attempting to merge a simple model branch back to the main

**To Reproduce**
Mauro UI 6.2.0
Navigate to a branch, select Merge -> Merge Model
[code]
**Expected behavior**
next screen to display as designed.

**Screenshots**
![image](https://user-images.githubusercontent.com/27196895/123413027-2e20f300-d5aa-11eb-9137-4472f016f7ab.png)

**Desktop (please complete the follo

[2021-06-25 10:42] olliefreeman commented on #93
this is actually a UI issue in that they're using the wrong endpoint.
already raised in MauroDataMapper/mdm-ui/issues/200

[2021-06-25 10:42] #93 closed

[2021-06-25 15:36] aaronforshaw opened #94 "Searching catalogue item by classifiers causes an internal server error"
**Describe the bug**
When searching catalogue items by classifier, there is an internal server error.

**To Reproduce**
Steps to reproduce the behavior:

0. Run backend using `grails run-app` in mdm-testing-functional
1. Go to Postman
2. Use the authentication/login endpoint to login
3. POST {{base_url}}/catalogueItems/search with body {"searchTerm": "Complex"} and see that search results are corr

[2021-06-28 13:12] olliefreeman commented on #96
i was very confused as i know the MD index endpoint works, however this is not the endpoint the UI is using, its calling the otherMetadata endpoint from the profiles plugin. the code is not pushing the view in correctly which is why the MD isnt rendering

[2021-06-28 13:26] olliefreeman commented on #96
this is not actually a bug, running on the develop branch. this is because @OButlerOcc's branch is way behind the develop branch and is missing important updated from @jamesrwelch. mc-9540 needs to be rebased onto the head of develop.

[2021-06-28 13:26] #96 closed

[2021-06-28 14:30] olliefreeman commented on #88
Looking at the log file attached this is actually exactly the same issue as with #88

[code]

[2021-06-28 14:48] richard-hier opened #97 "Mauro Data Mapper - Copy Class Issue"
**Describe the bug**
Mauro Data Mapper - Copy Class Issue

**To Reproduce**
Steps to reproduce the behavior:

1. Right click on Testing_Model2 Data Model, Select Create Data Class
2. Select Copy data class from, select MSP Data model
3. Select one data class., copied successfully
4. Again right click on same Data Model, Select Create Data Class
5. Select Copy data class from, select MSP Data model

[2021-06-29 09:42] aaronforshaw commented on #94
Thanks @olliefreeman for the fix

[2021-06-29 10:02] #94 closed

[2021-06-29 10:02] #92 closed

[2021-06-29 10:02] #90 closed

[2021-06-29 10:03] #91 closed

[2021-06-29 10:03] #88 closed

[2021-06-29 12:33] theresanoble opened #98 "Scraped models using SQL tool not importing as finalized"
**Describe the bug**
When using the MDM SQL scraping tool  via Postman in the OUH instance of MDM it does not finalize the new branch created, but creates a new draft branch, it also leaves the existing finalized model in situ so that you end up with two versions viewable on the FE.

Also not able to import model that isn't already finalized
**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2021-06-29 12:39] theresanoble opened #99 "Merging newly imported models with existing documentation"
**Describe the bug**
Upon importing a new model with the SQL importer/scraping tool any existing documentation branches are not automatically merged with the new model, in addition when using the 'manual' merge tool within MDM it fails and you recieve this error:

{
  "headers": {
    "normalizedNames": {},
    "lazyUpdate": null
  },
  "status": 400,
  "statusText": "OK",
  "url": "https://oxnetd

[2021-06-29 12:43] theresanoble opened #100 "Not able to import models without there being an existing finalized model with the same name."
Describe the bug
When trying to import a new data model that doesn't have an existing finalised model, import fails:

To Reproduce
Steps to reproduce the behavior:
Go to : https://oxnetdwa02.oxnet.nhs.uk/mauro-data-mapper/#/home
In Postman : authenticate and then import a new data model that doesn't exist in the tree
get the following error:

{"status":400,"reason":"Bad Request","errorCode":"MSXX"

[2021-06-29 12:45] theresanoble opened #101 "Timeout when importing large data models via SQL importer"
Describe the bug
When trying to import a large data model (i.E Solus, INFOFLEX5) it times out and does not import.

To Reproduce
Steps to reproduce the behavior:
Go to : https://oxnetdwa02.oxnet.nhs.uk/mauro-data-mapper/#/home
In Postman : authenticate and then import a large data model (i.E Solus, INFOFLEX5)
Watch it spin

Desktop (please complete the following information):

OS: macOS 11.4
Brows

[2021-06-29 13:35] theresanoble opened #102 "Failed to import using SQL importer"
Describe the bug
Trying to import updated data model using SQL importer where is already a finalized model, documentation branch and a main branch.

To Reproduce
Steps to reproduce the behavior:
Go to : https://oxnetdwa02.oxnet.nhs.uk/mauro-data-mapper/#/home
In Postman : authenticate and then import ARIA_MEDONC
get the following error:

{
"status": 422,
"reason": "Unprocessable Entity",
"errorCod

[2021-06-29 15:09] olliefreeman commented on #99
this has already been raised in the UI

[2021-06-29 15:11] olliefreeman commented on #99
MauroDataMapper/mdm-ui#200

[2021-06-29 15:11] #99 closed

[2021-06-30 08:59] theresanoble commented on #100
Also getting this error
[code]

[2021-06-30 10:05] pjmonks commented on #89
Re-opening this issue as it doesn't seem solved, at least when running from the UI.

[2021-07-01 08:17] olliefreeman commented on #89
definitely fixed this time, tests included to prove it

[2021-07-01 08:17] #89 closed

[2021-07-01 16:24] #102 closed

[2021-07-01 16:25] #98 closed

[2021-07-01 16:25] #100 closed

[2021-07-08 16:01] pjmonks opened #103 "Add tree endpoint to fetch ancestors of a catalogue item"
# Request

Given a catalogue item (or model) `domainType` and `id`, provide an endpoint for the tree that returns the ancestors of that item, instead of its children.

# Rationale

There is a UI feature request in MauroDataMapper/mdm-ui#219 which asks for the item currently on display and the catalogue tree to be in sync - i.e. clicking a link from a Data Model to a Data Class would display the Da

[2021-07-13 10:10] oughnic opened #104 "SQL Server importer error error saving"
**Describe the bug**
When importing an Azure SQL Server database, I got:
[code]

[2021-07-13 10:12] olliefreeman commented on #104
@oughnic please can you use the official released version of thr importer 5.0.0
the snapshots are not guaranteed to be stable

[2021-07-13 10:14] olliefreeman commented on #104
@oughnic can you confirm what version API you are using. this is the `mdm-core` version in the modules view of the admin page

[2021-07-13 10:21] oughnic commented on #104
mdm-core 4.7.0
Plugin : Database - SQL Server 5.1.0-SNAPSHOT

[2021-07-13 10:31] olliefreeman commented on #104
can you create a new DataModel in the UI with no issues??

[2021-07-13 11:20] oughnic commented on #104
I can

[2021-07-13 13:29] oughnic commented on #104
Script to recreate the database structure I was trying to import:
[code]

[2021-07-13 21:08] jelenadreskai opened #105 "Email update does not work"
Steps:
1. Update email from which registration details are sent in the Admin Console (email.from.address).
2. Restart docker

Expected result
Admin console > email.from.address is showing the updated email address, and all notifications are sent from the new email address

Actual result:
Admin console > email.from.address is showing the old email address (the one provided during the composing of a

[2021-07-13 21:09] olliefreeman commented on #105
can i just ask what command you're using to restart docker? i just want to make sure i replicate this exactly

[2021-07-13 22:14] jelenadreskai commented on #105
I use the stop and start button in docker.

[2021-07-15 12:47] pjmonks opened #106 "Cannot delete a profile"
**Describe the bug**
Attempting to delete a profile from a catalogue item results in a `500 Internal Server Error` related to data cascades.

**To Reproduce**
1. Add a profile to a Data Model.
2. Delete that profile.

**Expected behavior**
The profile should have been removed successfully.

**Additional context**
This seems to happen on any profile, but I've been testing on the Digital Object Iden

[2021-07-16 10:14] aaronforshaw opened #108 "Add endpoint to list all Data Elements on a Data Model"
Add endpoint to list all Data Elements on a Data Model

[2021-07-20 18:09] #108 closed

[2021-07-21 19:55] olliefreeman commented on #104
this issue has nothing to do with the database being scraped as its being thrown before any of the data has been added to the DataModel after the db has been scraped, therefore the content of the db is irrelevant.

The error is being thrown when the system attempts to create and then save the datamodel with nothing but the basics configured to do so. There is no logical reason why this exception i

[2021-07-21 20:10] olliefreeman commented on #106
i've got the solution for this coded, need to work out if we can have some actual proper tests on profiles, as the only tests we have at the moment is for "non existent" profiles

[2021-07-22 12:50] theresanoble opened #110 ""Validation Error(s) occurred during save():" >> scraping in models using postman"
**Describe the bug**
Unable to scrap in SQL models, getting the follow error:

{"status":422,"reason":"Unprocessable Entity","errorCode":"UEX--","message":"Validation Error(s) occurred during save():","path":"/api/dataModels/import/uk.ac.ox.softeng.maurodatamapper.plugins.database.sqlserver/SqlServerDatabaseDataModelImporterProviderService/5.0.0","devMode":false,"version":"4.7.0","validationErrors

[2021-07-23 07:22] olliefreeman commented on #106
merged into develop

[2021-07-23 07:22] #106 closed

[2021-07-23 11:05] pjmonks opened #111 "Cannot merge certain changes into a model using new `mergeInto` pattern"
**Describe the bug**
When using the new merge diff endpoint data (V2) and merging a metadata value change from the source to the target model, a `500` response is returned.

**To Reproduce**
Use the endpoint `/api/dataModels/{sourceId}/mergeInto/{targetId}?isLegacy=false` with the payloads similar to the following:

## Add metadata not in target

[code]

## Change metadata value

[code]

**Expecte

[2021-07-23 11:24] pjmonks opened #112 "Changes to aliases are not being picked up as differences in merge diff"
**Describe the bug**
If adding or changing an `alias` or `classifier` on a catalogue item, then try to merge that item into another branch, the `mergeDiff` endpoint does not pick this up as a change.

**To Reproduce**
See screenshots below.

**Expected behavior**
A change should appear in the `mergeDiff` response to list what has changed in the alias and/or classification fields.

**Screenshots**

[2021-07-23 11:26] olliefreeman commented on #112
classifiers arent and never have been included in teh list of diffs, and its complicated to do so, so we shouldnt include them, however aliases should be...i'll work out whats happening

[2021-07-23 12:41] pjmonks commented on #111
I've also just noticed the same error when using this payload for a rule representation:

[code]

So this may not just be metadata. Perhaps the error is related to what type field or multi-facet aware domain is being committed? I'm finding no issues with general `@description` changes.

[2021-07-23 17:12] olliefreeman commented on #111
i suspect i messed something up on facets

[2021-07-26 09:42] aaronforshaw opened #113 "Specifying dataModelTypes on search API throws an exception."
**Describe the bug**
Specifying dataModelTypes on search API throws an exception.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a POST request to ```/api/catalogueItems/search```
2. In the body of the request, include ```dataModelTypes = ["Data Asset"]```
3. See that an exception is thrown, presumably because although ```dataModelTypes``` is a property in ```uk.ac.ox.softeng.maurodata

[2021-07-26 10:33] olliefreeman commented on #111
so the exception is being thrown because it failed to find the MD inside the source DM, this is a bug in the pathing code, i suspect the same bug exists for RR.
I will fix the bug but also handle this more gracefully by logging a warning but carrying on with the merge.
Its unlikley this will happen so i think that a log message is enuff.
@jamesrwelch agree???

[2021-07-26 11:17] aaronforshaw commented on #113
In DataModelTypeFilter I tried changing
[code]
to
[code]
and that gets past the exception, but does not seem to filter.

[2021-07-27 00:53] jelenadreskai opened #115 "SQL Server Importer Failure -"
Hello @olliefreeman, here are details of the bug I found.

It looks like I am getting a different error from what I reported originally. See below.

Mauro, latest release, SQL importer 5.0.0 version.
Runs on Docker in Windows Server.
On the same Windows Server, there is a SQL server to which I am trying to connect.

Input (3 screens below)
![image](https://user-images.githubusercontent.com/8143768

[2021-07-27 01:31] jamesrwelch opened #116 "Class Cast Exception on rendering tree"
[code]

[2021-07-27 07:57] olliefreeman commented on #116
@jamesrwelch is this off the bootstrapped tree or have you done anything?

[2021-07-27 09:24] olliefreeman commented on #115
So this is actually 2 errors...the stacktrace does NOT relate to the errors during import, this is a separate issue....one which does also need to be looked at.

There appears to be a bug in importing as new documentation version which is whats cuasing the errors you're being shown in the UI.

I will look into both these issues

[2021-07-27 16:25] pjmonks opened #118 "`mergeDiff` endpoint does not return changes to links"
**Describe the bug**
If a new link is added to a data model in one branch, then compared for a merge into another branch, that new link does not appear in the changes list.

**To Reproduce**
See screenshots below.

**Expected behavior**
I would have expected a new link to be a change or addition which appears for merging, unless there is a clear reason why it shouldn't be.

**Screenshots**
This li

[2021-07-27 16:57] olliefreeman commented on #118
@jamesrwelch we've never included semantic links in the diffs before, should we be??

[2021-07-27 16:57] olliefreeman commented on #118
nor versionlinks

[2021-07-27 18:39] jelenadreskai commented on #115
I've just updated the screenshots. I can get more information for the first issue from the logs.

[2021-07-27 18:57] jamesrwelch commented on #118
I guess we probably should... potentially a big change in meaning if a semantic link is removed or changed.

[2021-07-27 20:02] jamesrwelch commented on #118
For clarity, we only care about links owned by the current model, not links in other models pointing at us

[2021-07-28 08:19] olliefreeman commented on #118
thats okay as thats the directtion the SLs are owned .... this ticket will have to be a feature added after this week....as its gonna change a lot and require some serious work to make sure links are properly done.

[2021-07-28 08:27] olliefreeman commented on #113
yes this is a bug, but it should filter to allow the user to limit to only data assets or only data standards

[2021-07-28 08:28] olliefreeman commented on #116
this is the hibernateproxy/entity proxy hitting us again

[2021-07-28 08:44] olliefreeman commented on #116
i think i have a fix, interestingly i dont get the issue using your database, but even so i know of 1 problem with the way we were solving it, so hopefully this solves this issue

[2021-07-28 09:06] olliefreeman commented on #112
aliases were never added...they must have been missed

[2021-07-28 09:42] olliefreeman opened #119 "Changes to classifiers are not being picked up as differences in merge diff"
Describe the bug
If adding or changing a classifier on a catalogue item, then try to merge that item into another branch, the mergeDiff endpoint does not pick this up as a change.

To Reproduce
See screenshots below.

Expected behavior
A change should appear in the mergeDiff response to list what has changed in the classification fields.

[2021-07-28 09:42] olliefreeman commented on #112
opened #119 to handle classifiers as an enhancment

[2021-07-28 10:09] olliefreeman commented on #104
i still cant duplicate this issue....and none of our tests are duplicating it...so cant resolve it.

[2021-07-28 10:43] olliefreeman commented on #113
if you try a search for something you know exists without the modelType filter...do you get any results??

[2021-07-28 10:48] aaronforshaw commented on #113
Yes. And if I set ```modelType: ["Data Asset"]``` or ```modelType: ["Data Standard"]``` then in all cases it seems to return both data assets and data standards. It's like it's searching rather than doing an exact filter. I played around with the licence filter a bit, but have not figured it out.

[2021-07-28 10:49] olliefreeman commented on #113
i'm getting another bug if i make the change required to the filter class....but i just wanted to make sure your indexes are built

[2021-07-28 10:54] olliefreeman commented on #97
I have tried to replicate this with the latest release and cannot do so.
This was tried on
* an empty DC
* DC with an empty child DC
* DC with child DEs
* DC with child DC with child DEs

[2021-07-28 10:55] olliefreeman commented on #97
can you try this again with your instance but making sure you have the latest release
* API 4.7.0

[2021-07-28 11:18] olliefreeman commented on #113
as an fyi ... debug logs contain the lucene search being done
[code]
the issue is that the default analyser is a tokenised analyser, so its spliting the label, hence why its not actually doing a filter as it then matches both data asset and data standard

[2021-07-28 11:36] olliefreeman commented on #105
the changes are being replicated to the database which suggests to me that the method being used for starting and stopping docker is actually removing the postgres volume and therefore removing all data from the database.
Please use docker-compose to start and stop containers as this will not remove volumes without the additional argument

[2021-07-28 11:36] #105 closed

[2021-07-28 11:36] #104 closed

[2021-07-28 11:37] richard-hier commented on #97
Thanks Ollie.

Simon is off until Monday, we’ll pick this up next week and get an update pushed out and ask them to retry.

R

Richard Hier
Programme Manager SeRP | Rheolwr Rhaglen SeRP
_____________________________________________________________________

Swansea University Medical School | Ysgol Feddygaeth Prifysgol Abertawe
Email | Ebost ***@***.******@***.***>
Tel/Ffôn: 01792 602083

From: Oll

[2021-07-28 11:38] olliefreeman commented on #115
excellent thank you

[2021-07-28 14:58] olliefreeman commented on #110
fixed inside MauroDataMapper-Plugins/mdm-plugin-database@fdf106f0897de87ead6fb9110ef88d63e0e36b0e

[2021-07-28 14:58] #110 closed

[2021-07-28 15:07] olliefreeman commented on #115
I will add (as an addtl useful piece of info) the concepts around documentation version is that theres no model structure difference between 2 versions but you're trying to import addtl documentation, i.e. descriptions where you have already finalised model.

Realistically this is not ever going to be the case with importing a database as we dont have the ability to import documentation from datab

[2021-07-28 15:25] olliefreeman commented on #104
the fix for #110 will actually ensure this cannot happen as the location this was thrown is now gone

[2021-07-29 09:23] #111 closed

[2021-07-29 09:23] #112 closed

[2021-07-29 11:21] pjmonks opened #121 "Cannot determine if a model can use the merge endpoints or not"
**Describe the bug**
When testing the merge behaviours between Data Models and Versioned Folders, I have noticed it that the UI still allows the "Merge" option for a Data Model that sits under a Versioned Folder. I believe that this action should not be present, since the merge will be handled by the ancestor Versioned Folder instead.

**To Reproduce**
Steps to reproduce the behavior in the UI:
1.

[2021-07-29 12:44] pjmonks opened #122 "Incorrect merge diff found with inner Data Classes inside Versioned Folder"
**Describe the bug**
Assume that a Versioned Folder branch contains:

1. A Data Model
2. That then contains a Data Class
3. That Data Class then gets another Data Class added as a child

If merging point 3 into the main branch, the diff returned is a _deletion_ instead of an _addition_. Why is this?

**To Reproduce**
1. Create a Versioned Folder, then inside a Data Model, then inside a Data Class.

[2021-07-29 12:56] pjmonks commented on #122
I've now found a similar issue related to Data Elements.

Here is my test branch of a VF. The highlighted DC contains a new DE called "First Data Element":

![image](https://user-images.githubusercontent.com/3219480/127495894-bb955de0-670f-4491-95ee-a270033d3b98.png)

To confirm, this does not exist in the main branch:

![image](https://user-images.githubusercontent.com/3219480/127495959-7cdd9195-

[2021-07-29 12:59] pjmonks commented on #122
And one final thing... Adding a DE to the child DC like this:

![image](https://user-images.githubusercontent.com/3219480/127496275-af369c27-0106-46a1-935e-0b791e1563e4.png)

The merge diff does not return this one at all:

![image](https://user-images.githubusercontent.com/3219480/127496346-94ee2ac9-7168-4826-93e2-bfa6087ccd61.png)

[2021-07-29 14:25] pjmonks opened #123 "Cannot merge a Code Set, or Reference Data Model into a Versioned Folder"
**Describe the bug**
If a VF contains a Code Set, Terminology, or Reference Data Model which does not exist in the main branch, and that is attempted to get merged into the VF main branch, an error occurs for Code Sets/Terminologies - for Reference Data Models, it says it was successful but nothing happens.

**To Reproduce**
These steps are for CodeSets, but change the steps for the other domain t

[2021-07-29 14:31] olliefreeman commented on #121
yes that action was intended for the merging...and yes its not being removed

[2021-07-29 14:32] olliefreeman commented on #122
odd...

[2021-07-29 14:32] olliefreeman commented on #123
does the same happen if you create a DM??

[2021-07-29 14:37] pjmonks commented on #123
DMs are fine, the other model domain types are not.

[2021-07-29 15:59] olliefreeman commented on #122
this is odd as the tests we have cover this exact scenario
[code]

[2021-07-29 16:43] jelenadreskai opened #124 "Excel Importer missing Model name input box"
**Describe the bug**
User cannot enter Model name, and when import starts it errors out.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Data Model Menu
2. Click on 'Import Models'
3. Select Excel File with data to be imported
4. See UI screenshot below - missing Model name
5. If

**Expected behavior**
User was able to specify a data model name in the past. Now this field is missing. S

[2021-07-30 08:07] #113 closed

[2021-07-30 08:07] #115 closed

[2021-07-30 08:07] #116 closed

[2021-07-30 08:49] jamesrwelch opened #125 "Subfolders not copying on new version of a VersionedFolder"
I've got a VersionedFolder with sub folders, sub-sub-folders, and contained Terminologies /CodeSets.  When creating a new Model Version, the sub-folders and contained content is not being copied.  See attached screenshot.
![Screenshot-2021-07-30-at-08 15 33](https://user-images.githubusercontent.com/1869668/127627637-e32335ac-5430-4e67-a836-6cc123d3e5b0.png)

[2021-07-30 08:56] pjmonks commented on #125
If I try to replicate this issue, I get an actual error:

[code]

This is when trying to create a new model version from a VF structured like this:

![image](https://user-images.githubusercontent.com/3219480/127628581-c24a96cd-75af-4758-b060-7796fc64dbbc.png)

[2021-07-30 10:01] olliefreeman commented on #124
So the excel importer is not supposed to show the model name box anymore as its actually doesn't allow an override, however the bug is an issue as it shouldn't be throwing an error.

There is supposed to be a fix in releasing 4.0.1 however I just looked at the code and the parameter change in release 4.0.1 has been made the wrong boolean. We will fix this

[2021-07-30 10:16] jamesrwelch commented on #124
I'll take the blame for that one... entirely my fault, sorry.

[2021-07-30 12:12] olliefreeman commented on #122
@pjmonks can you retest this please, I have locally run up your branch plus mdm-app-build and I'm getting the creation as id expect

` http://localhost:8080/api/versionedFolders/5a42c7e8-da87-462e-bc61-8c95e094409e/mergeDiff/7af7fe25-968a-4985-aa49-6cc68f606a8f?isLegacy=false`

[code]

<img width="273" alt="Screenshot 2021-07-30 at 13 10 50" src="https://user-images.githubusercontent.com/2587424/1

[2021-07-30 13:21] pjmonks commented on #122
Sorry @olliefreeman , but I must have the `sourceId` and `targetId` the right way round, otherwise the other diffs I see wouldn't be right either.

Look at this structure:

![image](https://user-images.githubusercontent.com/3219480/127658254-8b8c5a2c-d24b-4a2b-b1d1-9eb09997d802.png)

Everything I've highlighted in green would be _additions_ when I merge `testBranch` into `main`. But this is the di

[2021-08-02 09:23] olliefreeman commented on #122
this is really bizarre ... why does it work fine for me but not for you ....

[2021-08-02 09:25] olliefreeman commented on #122
and we have in our tests ... we have an "existing class" DC which we add a DC to and the json comes back
[code]

[2021-08-02 09:58] olliefreeman commented on #123
okay so this is an issue on CodeSets NOT terminologies, and its due to the way codesets are provided by merge, this actually shows that merging 2 codesets even outside a VF should fail

[2021-08-03 18:31] jamesrwelch opened #127 "Allow anonymous email server connections"
An anonymous SMTP server doesn't need username / password submitted to it - in fact it may refuse the connection if any credentials are supplied - even empty strings.
If email username / password are not supplied, this should be treated as an anonymous server and so the parameters should not be part of the Mailer connection configuration.

[2021-08-09 16:00] pjmonks opened #129 "Cannot save values to a profile"
**Describe the bug**
When sending a `POST /api/{domainType}/{id}/profile/{namespace}/{name}` request to save profile values, the response returned clears all values submitted and loses information. However, a `200 OK` status is returned suggesting something went right.

First noticed this when testing the [DOI profile](https://github.com/MauroDataMapper-Plugins/mdm-plugin-digital-object-identifier

[2021-08-09 16:13] pjmonks opened #130 "Denied access to submit a DOI profile post-finalise"
**Describe the bug**
The DOI profile should be allowed to have values saved to a catalogue item after that item is finalised; this is to ensure that changes can be made before submitting the profile to the DOI system and the core can make modifications automatically.

However, I've found that if submitting the DOI profile to save it using the `POST /api/{domainType}/{id}/profile/{namespace}/{name}

[2021-08-09 16:44] olliefreeman commented on #130
We never added the ability to mark profiles as editable after finalisation….once we do that this will work

[2021-08-10 10:40] olliefreeman commented on #129
This is probably more how the return body is built … as we know the values are saved due to tests, if you perform a “get” the data is in the profile. I don’t think our existing tests check the body of the response after the post

[2021-08-10 12:58] pjmonks commented on #129
I tested this in Postman sending the manual profile requests, but could not replicate it. So my original idea of it not working on the backend was false. However, after experimenting with the frontend and reviewing changes on the `ProfileController` recently made, I think I now know what went wrong.

Commit [43010b1c0d6cbdca2c72523d83dc6ce8ff673a30](https://github.com/MauroDataMapper/mdm-core/comm

[2021-08-10 13:36] olliefreeman commented on #129
@pjmonks as an FYI the original code in the controller did the same thing as I updated it to do, except it manually worked thru the Json body rather than using the inbuilt grails code to do the same thing. I did however notice that the original code wouldn’t actual map certain things due to an invalid casting. Which is one of the reasons I updated it. Therefore there should have been no difference

[2021-08-10 14:29] pjmonks commented on #129
I have resolved the issue in MauroDataMapper/mdm-ui#272, so this issue can be closed now.

[2021-08-10 16:51] OCC-MarkTolley opened #131 "JSON DataFlow importer 3.0 not working in Mauro 6.4.0"
**Describe the bug**
A dataflow import test that was previously working is now failing with the latest released version of Mauro.

**To Reproduce**
1. Create two multi-level data classes
2. Create a JSON defining a dataflow between them
3. Call the JSON dataflow importer API
JSON import fails with error similar to

POST: 400 BadRequest: {"status":400,"reason":"Bad Request","errorCode":"DCCI01","me

[2021-08-11 10:41] OCC-MarkTolley commented on #131
I get the same issue with simplified JSON that doesn't include any DataElementComponents:
{
  "dataFlow": {
    "source": {
      "id": "7aac42a6-9d2b-499f-a80b-494dd3aa88a3",
      "label": "DataSource1_Origin",
      "type": "Data Asset"
    },
    "target": {
      "id": "8fbbcb3e-d5f9-477d-97b4-a0ff78f62e0b",
      "label": "DataSource1_Raw",
      "type": "Data Asset"
    },
    "dataClassCom

[2021-08-11 11:30] OCC-MarkTolley commented on #131
Talked to Anthony - he reckons that the problem may be the hardcoded version number in this file: https://github.com/MauroDataMapper/mdm-core/blob/develop/mdm-plugin-dataflow/grails-app/services/uk/ac/ox/softeng/maurodatamapper/dataflow/provider/importer/DataFlowJsonImporterService.groovy

[2021-08-16 10:47] #124 closed

[2021-08-17 10:04] #129 closed

[2021-08-17 20:47] jelenadreskai commented on #115
Hi @olliefreeman I am not sure if I follow. I was trying to import the model for the first time. Ideally I want just columns and column type to be imported, and then allow SMEs to add field descriptions. Is this how SQLServerImporter is meant to function?
And I appologize in advance if I am commenting in the wrong place. Did not want to open a new thread on the same topic.
Jelena

[2021-08-17 21:36] jimdavies commented on #115
@jelenadreskai @olliefreeman

That's the core use case.   The importer does the work that it can - importing the schema - and then you work on the resulting model to add the information that wasn't there in the database itself - the insights, etc. from the SMEs.

That should just work, and you're probably wondering why Ollie is suggesting finalising on import.  He'll correct me if he had something

[2021-08-17 23:46] jelenadreskai opened #133 "Search does not work when user selects a folder in the Advanced options"
Search does not work when user selects a folder in the Advanced options

Steps to reproduce the behavior:
1. Go to Mauro Main page
2. Click on Search in the top menu
3. Enter text  in the Search text field
4. Click on the Advanced button to select additional options
5. Select any folder where you know you have the Search term present

**Expected behavior**
Data catalogue items that match the searc

[2021-08-18 08:33] pjmonks commented on #133
Just to double check, is your Lucene search index up to date when doing this? To rebuild the index from the UI, follow these instructions: https://maurodatamapper.github.io/installing/administration/#re-building-the-search-index

Does the issue still occur with a fully up to date search index?

[2021-08-18 09:37] olliefreeman commented on #131
we need to update the XSD/XML and JSON to accept "path" not "label" for the DC component, then we use the FQ path to find the DC inside the relevant DM

[2021-08-18 19:34] jelenadreskai commented on #133
Yes it does. I rebuild again to make sure, and I still get the same results.

[2021-08-18 19:40] jelenadreskai opened #134 "Missing images when port 80 used for Mauro"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Update docker-compose.yml to run Mauro on 80 port.

MDM_PORT: 80
MDM_AUTHORITY_URL: "http://localhost"
ports: -80:8080

2. update Mauro
3. When it is up and running access MDM on http://localhost
4. See MDM logos links missing.

**Expected behavior**
All MDM logos should l

[2021-08-19 15:18] olliefreeman commented on #130
this is fixed

[2021-08-19 15:18] #130 closed

[2021-08-20 13:45] pjmonks opened #135 "Profile - Change "Value cannot be null" validation message to be user-friendly"
**Describe the bug**
If editing a profile which has mandatory fields, if a user left out a field value and then validates the profile then a validation message "Value cannot be null" is returned.

**Expected behavior**
This is correct. However, from a user experience perspective, the validation message looks a bit too technical and unfriendly.

The suggested improvement is to update `mdm-plugin-pr

[2021-08-23 15:27] anthonyOCC commented on #133
Network requests show the same request and response whether the search restriction is present or not, so suspect this is a UI filtering issue, not backend.

[2021-08-25 12:59] pjmonks commented on #121
@olliefreeman Looking at the commit history of this issue, I'd have thought I would see `mergeInto` appear in a VF `availableActions` list but I still don't:

![image](https://user-images.githubusercontent.com/3219480/130794549-3febb9c1-acce-4163-bf9c-a87bdf2ebba1.png)

According to the rules in ad3e6db, this is not finalised or a main branch, so I would have though the `mergeInto` action would ap

[2021-08-25 16:44] pjmonks commented on #122
@olliefreeman I have been retesting this issue with the scenarios I've described previously. My original issues don't seem to happen anymore, so it can now diff:

1. Data Model with Data Class and inner Data Class
2. Data Model, Data Class which contains Data Element

But I can still reproduce a bizarre situation around Data Elements added to child Data Classes. I'm not sure how edge-case this is

[2021-08-26 09:55] pjmonks opened #138 "Cannot merge new DT and DE at the same time for a Data Model"
**Describe the bug**
Found while testing #122. If two branches of a Data Model exist, and one has added a Data Element (with new Data Type), then attempting to merge these additions into the other Data Model branch causes a `500` error.

**To Reproduce**

From the UI:

1. Then create a DM called "DM Test"
2. Then create a DC inside the DM called "DC Test"
3. Finalise the DM to version 1.0.0
4. Cre

[2021-08-26 14:53] pjmonks opened #139 "Branched Terminologies do not display child Terms in model tree"
**Describe the bug**
If you branch from a finalised Terminology that has Terms and relationships defined, the new branch copies the Terms but does not accurately maintain the relationships, causing the tree endpoints to think the new Terminology branch does not have any children.

**To Reproduce**
From the UI:

1. Create/import a Terminology that has Terms. Or, using the bootstrapped data e.g `mdm

[2021-08-26 15:44] pjmonks opened #140 "MergeDiff cannot merge a new sub-folder created in a branch when inside a VF"
**Describe the bug**
If a Versioned Folder already contains a sub-folder, this is successfully copied when the VF is branched (see #125).

On further testing though, if this is then branched and a new sub-folder is created, then attempting to merge the new sub-folder fails with a `500` error.

**To Reproduce**
From the UI:

1. Create a VF called "VF Test".
2. Under the VF, create a standard sub-fo

[2021-09-02 13:40] #121 closed

[2021-09-02 13:40] #122 closed

[2021-09-02 13:40] #123 closed

[2021-09-02 13:40] #125 closed

[2021-09-02 13:40] #138 closed

[2021-09-02 13:40] #139 closed

[2021-09-02 13:40] #140 closed

[2021-09-02 15:25] pjmonks opened #143 "Search a ReferenceDataValue using only query parameters throws cast exception"
**Describe the bug**
The `POST /referenceDataModels/{modelId}/referenceDataValues/search` endpoint can throw a `GroovyCastException` if query parameters are used instead of a JSON body.

**To Reproduce**
Find the id of a reference data model. For `mdm-testing-functional`, this could be the "Simple Reference Data Model".

Then send this request:

[code]

Do not include a body to the `POST` request,

[2021-09-06 13:39] atpw25 opened #144 "Unable to query list of relationship types for terminology"
**Describe the bug**
Unable to query list of relationship types for terminology.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run `mdm-testing-functional`
2. Run `mdm-ui`
3. Log in
4. Query `/api/terminologies/{terminology id}/termRelationshipTypes` endpoint.

**Expected behaviour**
Return a list of relationship types in the specified terminology.

**Stacktrace**
[code]

**Desktop (pleas

[2021-09-06 13:46] olliefreeman commented on #144
@atpw25 its because you're not sending any sort field, but you're sending the parameter
[code]
so its trying to sort by nothing, you need to not include the parameter if you dont want it

[2021-09-07 09:17] #103 closed

[2021-09-07 09:21] olliefreeman commented on #103
@pjmonks the endpoint is `api/tree/${containerDomainType}/${catalogueItemDomainType}/${catalogueItemId}/ancestors`

e.g.
* `/api/tree/folders/dataClasses/$dataClassId/ancestors`
* `/api/tree/folders/dataModels/$dataModelId/ancestors`

[2021-09-10 16:40] olliefreeman opened #145 "Subscribed Catalogues should handle "no models" returned better"
When connecting to a Subscribed catalogue, If no models are returned then the api throws an error that the connection failed due to the API Key, however its possible there are no models and the API Key is actually right.

We need to make sure there's a distinction between this scenario OR we throw an error that its not the API Key

[2021-09-10 20:08] jamesrwelch opened #146 "User reset password failing silently"
When a user wants to reset their password from the front page, a call is made to:

GET api/catalogueUsers/resetPasswordLink/${emailAddress}

This returns 200, with empty body.  But no email is sent, and no logs are created.

The reset password from the admin dashboard works as expected.

[2021-09-13 10:10] olliefreeman opened #147 "Cannot cast object 'class uk.ac.ox.softeng.maurodatamapper.datamodel.item.datatype.DataTypeService' with class 'java.lang.Class' to class 'java.lang.reflect.ParameterizedType'"
Reported by Bob Cox via YT
[code]

[2021-09-13 19:09] jamesrwelch commented on #147
This is affecting the NHSD Test instance - none of the models will load in the UI.  We need a fix for this one pretty quick :(

[2021-09-14 08:12] olliefreeman commented on #147
picking out details
* `/api/dataModels/81a891a4-a527-4191-b2e2-8032d6fa74ed/profiles/used`
*

[2021-09-14 08:16] olliefreeman commented on #147
@jamesrwelch can you check the mdm-plugin-profile version which is being pulled in please ... line 63
`"uk.ac.ox.softeng.maurodatamapper.profile.ProfileController.usedProfiles(ProfileController.groovy:63)",` is not a valid line...so this is confusing

[2021-09-14 09:21] olliefreeman commented on #147
this `uk.ac.ox.softeng.maurodatamapper.core.traits.service.DomainService$Trait$Helper.getDomainClass(DomainService.groovy:62)` calls `this.getClass().getGenericSuperclass()` now DataTypeService is not a superclass for anything, which means this is an impossible error...i can see it happening inside the nhsd instance, but i cant see how

[2021-09-14 09:53] olliefreeman commented on #147
its happening on the CD instance as well

[2021-09-14 13:10] olliefreeman commented on #147
good news .. this is the MySQL plugin thats causing the issue.

[2021-09-14 13:11] olliefreeman commented on #147
`class MySqlDataTypeProvider extends DataTypeService`
which it shouldnt, it needs to implement the DataTypeProvide not extend DataTyperService

[2021-09-14 13:21] #147 closed

[2021-09-16 13:25] olliefreeman commented on #135
please check mdm-application-build does NOT override the appropriate message, and if so, also update MAB

[2021-09-16 13:34] olliefreeman commented on #146
@jamesrwelch which env is this happening in???

[2021-09-16 13:35] olliefreeman commented on #145
See `uk.ac.ox.softeng.maurodatamapper.federation.SubscribedCatalogueService`
LIne 73 ` Map<String, Object> catalogueModels = client.getSubscribedCatalogueModels(subscribedCatalogue.apiKey)` is the issue.

[2021-09-16 13:37] olliefreeman commented on #145
When the models endpoint is called in another MDM the following class performs the security `uk.ac.ox.softeng.maurodatamapper.authentication.apikey.ApiKeyAuthenticationInterceptor`

[2021-09-16 13:43] olliefreeman commented on #145
Have a thought and try to look at adding an endpoint to test a connection to a SubscribedCatalogue using a specific ApiKey to test if the ApiKey is valid

[2021-09-23 09:12] jelenadreskai opened #149 "Cannot save a data model with the dynamic standard profile"
1. Create a dynamic data standard profile with one text field (non mandatory field)
2. Create a data model, and try to add the profile from that standard profile.
3. Enter values for the profile. Attempt to validate. Attempt the Save.

Behavior:
3. When user clicks on the Validate button no feedback sent to the end user
4. When user clicks on Save, Nullpointer exception is thrown in the UI.

Expec

[2021-09-23 10:32] joe-crawford commented on #149
I've also encountered this issue on the develop branch; I'm looking into this.

I think a dynamic profile should not need any JSON resource file to be instantiated, I am investigating creating it from the model.

[2021-09-28 08:30] pjmonks opened #150 "Validation error with `domainId` being `null` when flushing `BreadcrumbTree`"
**Describe the bug**
I have seen this issue occur several times, all related around doing something around finalisation of models (or maybe after being finalised).

In this particular case, attempting to submit a DOI after a model is finalised fails, with this error message:

[code]

A log file is attached below.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the latest version of t

[2021-09-28 13:52] Jayafo opened #151 "The Comment field is not collapsing once a user has responded to a comment"
**Describe the bug**
When a user is responding to a comment, the cmment field is not collapsing once the <Save comment> CTA is selected

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Mauro'
2. Click on 'a Model with a comment on'
3. Click on 'dot by the comment'
4. Add Comment
5.  Select <Save comment> CTA
6.  The comment field is re-opened

**Expected behavior**
The comment field is

[2021-09-28 14:00] olliefreeman commented on #151
Moving to mdm-ui as this is a ui not api issue

[2021-09-28 19:38] jelenadreskai opened #153 "Filter by classification hidden by default in the Search Advanced forms"
Search screen hides filter by classification form unless a user selects a folder. I assume this is not be design, and is a bug.

If I select a folder I see the classification form
![image](https://user-images.githubusercontent.com/81437684/135153297-307c21dd-8b72-46f3-98a3-7d391e0af104.png)

If I do not select a folder, I do not see a classification form
![image](https://user-images.githubusercont

[2021-09-28 19:43] jelenadreskai commented on #149
We tested the fix in our environment, and looks good.

[2021-09-28 20:01] joe-crawford commented on #149
Many thanks for testing, that's great. I've requested a review here so it should hopefully be merged soon.

[2021-09-30 13:56] Jayafo opened #196 "Both error and success notifications are displayed during importation of Data Model in JSON format"
**Describe the bug**
When a user import Data Model in JSON format both error and success notification are displayed at the bottom of the screen and the importation is successful.
**To Reproduce**
Steps to reproduce the behaviour:
1.	Go to 'Mauro'
2.	Click on 'Import models> icon
3.	Select <Import Data Models>
4.	Select JSON format and fill other options
5.	Select the <Import Model(s)> CTA
6.	Both

[2021-10-04 18:55] jelenadreskai opened #154 "Classifiers set as private by default, and cannot be made public using UI"
Steps to reproduce:
1. Login as administrator and create a classifier.

2. Logout
3. Have a look at the list of classifiers

Current behavior:
As a public user, user cannot see the classifier created at step 1.
If there is a model classified using this new classifier, user may be able to see the classifier on the data model, but if he/she clicks on it, the requestor is sent to the Mauro main page.

[2021-10-05 18:02] olliefreeman commented on #154
@jelenadreskai  this seems like a ui issue. Everything is always private by default as this is the security design, and we would not want to change that functionality, however we definitely want to allow the ui to alter the readability of the classifiers

[2021-10-06 08:14] olliefreeman commented on #154
assigned to @GBishop-PHSA

[2021-10-07 10:12] olliefreeman commented on #127
[mauro-data-mapper.log](https://github.com/MauroDataMapper/mdm-core/files/7301643/mauro-data-mapper.log)
Theres nothing in the logs which is concerning ... suggests the threads are being killed for some reason and we're not catching that reason

[2021-10-07 13:28] pjmonks commented on #146
@jamesrwelch If a user requests to reset their password, showing a confirmation message on the UI should be worded carefully. For best security, a confirmation message should always say that an email is sent to the provided email address (even if it actually isn't for technical reasons - such as it doesn't exist). It's best practice to avoid people from gaining access if the email address is compr

[2021-10-07 14:10] olliefreeman commented on #146
we certainly used to say "if your email address exists we will have sent an email"

[2021-10-07 14:34] Jayafo opened #162 "The Last Updated and Created options on the Advanced Search menu on Mauro is not working properly"
**Describe the bug**
When a user searches for a model using the **ADVANCED SEARCH** option on Last Updated and Created menu option, the functionality is not working as expected compared to other advanced search the Domain Types and Search Types. When the delete the icon is selected after entering some values the screen doesn’t refresh and sometimes display server error.
**To Reproduce**
Steps to r

[2021-10-08 08:40] olliefreeman commented on #127
so a log file should look like
[code]

[2021-10-08 11:44] olliefreeman commented on #127
yup, the from address for the email is currently taken from the smtp username, if this is null, as we build the email inside a separate thread the exception thrown due to missing from address is completely lost resulting in the issue occuring.

i am improving the handling of the email services in general but in the meantime i suspect imperial may be able to solve this via the UI

[2021-10-11 09:48] joe-crawford opened #158 "Profile Field default values"
- Add defaultValue property to ProfileField class to expose 'Default Value' field value in Profile Specification Field Profile.
- In Profile Specification Field Profile, default the editableAfterFinalisation property to true to match default behaviour in PR #155.

[2021-10-11 14:54] olliefreeman commented on #127
this should now be fixed, however will be leaving open until imperial confirm

[2021-10-13 09:23] joe-crawford opened #159 "Issues retrieving available external models"
**Describe the bug**
Error in UI when selecting external published model to subscribe to.

**To Reproduce**
1. Subscribe to external catalogue https://modelcatalogue.cs.ox.ac.uk/continuous-deployment
2. In Models Tree, click on External catalogues and open Continuous Deployment catalogue
3. Select published model
4. See Not Found error with no details

**Expected behaviour**
Published model in ext

[2021-10-13 10:45] gammonpeter opened #160 "Update active sessions endpoint to add lists for active and non-authenticated"
Update active sessions endpoint to add lists for active and non-authenticated

[2021-10-13 10:49] gammonpeter commented on #160
linked to      #https://github.com/MauroDataMapper/mdm-ui/issues/356

[2021-10-14 23:28] GBishop-PHSA opened #164 "Editor user receives 403 error when editing a Classifier description."
**Describe the bug**
Users in the Editors group are not able to edit a Classifier description, after an Aministrator has added the Editors group to the Classifier.

**To Reproduce**
1. Login as an administrator
2. Select a classifier
3. Add Edit role to the classifier with rest api call (not available in UI)
	POST http://localhost:8080/api/classifiers/3523b9e7-0450-414c-b827-89e1df0688e7/groupRole

[2021-10-15 20:07] jelenadreskai opened #165 "Inconsistent TSQL Data Types between imported DB data model and default TSQL data types offered upon data model creation"
**Describe the bug**
Inconsistent TSQL Data Types between imported DB and default TSQL data types offered upon data model creation

**To Reproduce**
Steps to reproduce the behavior:
1. Import SQL Server DB Schema into the Data Model (SQL Server DB Importer)
2. Create a new Data Model and select predefined set of data types: Transact-SQL / MSSQL DataTypes
3. Compare Data Types of these 2 data model

[2021-10-15 20:09] jelenadreskai commented on #165
If it was consistent, it would save the end user from manual work to adjust the data types.

[2021-10-15 20:54] jelenadreskai commented on #165
SQL Server Importer: The length of the field is imported as a separate property in the Other Properties tab, and that could potentially be automatically added to Description to say, for example: Max length: 5.

[2021-10-18 10:23] #165 closed, assigned to nobody

[2021-10-18 12:26] olliefreeman commented on #164
So the reason this is happening is actually because the permissions model we designed defines the only people who are allowed to edit a container as "container_admin" group role. The editor role and "below" are defined as "model" permissions, however we allow groups with editor level permissions to create containers inside containers they have editor access to so they may create their own content.

[2021-10-20 15:34] jamesrwelch opened #168 "Import Reference Data Model by CSV - Column order wrong"
I've imported a CSV as a Reference Data Model.  The columns don't have ordering, and when they come out through the API, they come out in the reverse order from the original CSV file.  Example CSV file attached
[etr.csv](https://github.com/MauroDataMapper/mdm-core/files/7382507/etr.csv)
.

[2021-10-25 15:23] #159 closed, assigned to joe-crawford

[2021-10-27 00:08] jelenadreskai opened #171 "Search does not work when user selects a folder in the Advanced options"
Folder structure : GENERAL --> L1--> L2, and model is in L2 Folder.
User selects "Search" functionality
In the Advanced options user selects one of the folders
User enters the search term
Note: enter term* if you want to find any object with prefix "term"

Expected results:
Search results would find the search term in the data models within selected folders, no matter how are folders nested

Actua

[2021-10-29 21:29] jelenadreskai commented on #171
@olliefreeman can you assign this to Gail please.

[2021-11-04 10:26] theresanoble opened #176 "MS SQL Importer giving error messages/not importing"
**Describe the bug**
receiving the following Error Messages when attempting to import a single schema/database into the OUH Instance from OXNETDWP02

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **https://oxnetdwa02.oxnet.nhs.uk/mauro-data-mapper/**
2. Click on ** import new model**
3. Select **import new data models**
4. select **MS SQL Server Importer**
3. Fill in:
      - Import a

[2021-11-04 11:25] jamesrwelch opened #185 "Cannot find API Properties"
On first install, I get the following exception:

[code]

[2021-11-04 15:24] #176 closed

[2021-11-04 15:37] gammonpeter opened #177 "Importing Data Model as Finalised isn't finalising Data Classes"
Upon importing a Data Model as finalised the, Data Classes within that data model arn't set as finalised

[2021-11-04 15:55] olliefreeman commented on #177
1. need to confirm the breadcrumbs coming back to the UI first that it doesn't have the finalised information we expect
2. `uk.ac.ox.softeng.maurodatamapper.core.provider.importer.ModelImporterProviderService#checkImport` is called by all model importers
3. `uk.ac.ox.softeng.maurodatamapper.core.model.ModelService#checkFinaliseModel(K, java.lang.Boolean, java.lang.Boolean)` finalises the model

th

[2021-11-05 13:18] aaronforshaw opened #178 "Endpoints to support bulk actions of profile elements"
To help with https://github.com/MauroDataMapper/mdm-ui/issues/233, the following endpoints are required:

- list all data elements, grouped / identified by data class, in a data model or data class
- for a collection of data element IDs and a collection of profile IDs, return all profile information
- validate profile information for a collection of data elements and a collection of profiles
- sav

[2021-11-09 11:24] Jayafo opened #181 "Smoke Testing: Server error message is displayed while trying to access a data model on Mauro"
**Describe the bug**
When a user tries to access a data model in a folder on Mauro, Server error message is displayed. Environment administrator has investigated the issue but unsure what the issue is.
**To Reproduce**
Steps to reproduce the behaviour:
1.	Go to Mauro version 4.11 (https://mauro-james-b4-11-0-f6-7-0.rost6.dev.dataproducts.nhs.uk/nhsd_mauro_dev/#/catalogue/dataModel/all)
2.	Enter va

[2021-11-09 13:16] Sunspark opened #179 "API returns 404 on timed out authentication"
**Describe the bug**
When using the Mauro API with an authentication token, the token times out after a period of inactivity (30 mins?). If the token is used after this point to call a valid API endpoint, the API returns 404 (Not Found) from the valid endpoint.

**To Reproduce**
Steps to reproduce the behavior:
1. Given a running instance of Mauro
2. Given a successfully logged in API session
3. W

[2021-11-09 13:36] olliefreeman commented on #179
@Sunspark our system currently uses session ids, generated by tomcat to manage the sessions, when the user logs in the session is marked as logged in, when the session expires it is actually tomcat which obliterates the session and the api does not store any information outside of tomcats session management.

therefore currently we can’t actually determine that the session is expired or was authen

[2021-11-09 16:43] Sunspark commented on #179
That does make it a little harder to get to the 403 error. Perhaps a more general solution of returning 'not authenticated' if the user is attempting a "by ID" GET without proper authentication (regardless of the existence of the searched item)?

[2021-11-09 17:47] jamesrwelch opened #180 "'/profiles/otherMetadata' endpoint not filtering"
The `/profiles/otherMetadata` should be filterable with params `ns`, `key`, and `value`.  But this isn't working - the back-end is not applying the filters correctly.
This needs fixing , and a test or two writing so that it doesn't break in the future.

[2021-11-09 21:33] jamesrwelch commented on #181
After discussion via email, this looks like a repeat of #147 - due to an old, incompatible version of the MySQL plugin.  Awaiting feedback after plugin is updated.

[2021-11-09 22:17] olliefreeman commented on #181
I was wondering as we’d seen this sort of thing before, can we make sure that all the plugins used are updated as per the website documented versions/announce stream in zulip

[2021-11-10 00:01] GBishop-PHSA opened #182 "Copy class fails with validation error"
**Describe the bug**
When copying a data class that has other properties on the Data Class and other properties on the Data Element, the newly created class fails to save with a validation error on the Data Element property.

The failure happens at: https://github.com/MauroDataMapper/mdm-core/blob/09bc29cc2bd703a1c304ff9b4ff8fb681e89a068/mdm-core/grails-app/domain/uk/ac/ox/softeng/maurodatamapper/

[2021-11-10 00:04] GBishop-PHSA commented on #182
@olliefreeman  I wasn't able to determine why the Data Element property did not pass validation during a save from a class copy. The object has the namespace, key and value populated during validation, but still fails. If I remove the Other Property from the Data Class, but leave the Data Element property, the copy succeeds without an error.

[2021-11-10 01:04] jelenadreskai opened #183 "Removing public flag from folder hides all models in it from the unauthenticated users (even if they have label public)"
**Describe the bug**
Removing public flag from folder hides all modes in it from the unauthenticated users (even if they have label public)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Folder and set it as Public
2. Create a Data Model inside the folder, and set it to Public
3. Remove public flag from the Folder

**Current behavior**
Data Model still shows "publicly readable flag

[2021-11-10 11:05] olliefreeman commented on #183
So permissions are inherited which means that whatever permissions you assign the folder are applied to the content of that folder, so the “note” behaviour is correct.

The reported bug though def shouldn’t be happening, as marking the folder performs
No actions on the content

[2021-11-10 18:13] jelenadreskai commented on #183
Hi @olliefreeman I am not sure if I follow second part.  :)

If permissions are inherited, when we remove the "public" flag from the folder, I see 2 possible behaviors:
1)  all public data models in that folder should become visible to the public user.
2) all data models in that folder are not public anymore, however their UI label also needs to be updated (publicly available removed)

I would exp

[2021-11-10 18:38] jelenadreskai opened #184 "Context Diagram misses some of the links. Show different diagram when switching between data models"
**Describe the bug**
 Context Diagram misses some of the links. It shows different diagram each time user switches between data models.

**To Reproduce**
Steps to reproduce the behavior:
1. Import attached data model
2. Click on Data Model Schema / Diagram
3. Observe the data model
4. Some links are missing in the diagram
5. Click on some other data model in the tree
6. Come back to the first data

[2021-11-10 18:41] jelenadreskai commented on #184
[testreferences_20211110T184050.xlsx](https://github.com/MauroDataMapper/mdm-core/files/7515139/testreferences_20211110T184050.xlsx)

Here is the data model, exported using Excel.

[2021-11-11 09:45] jamesrwelch commented on #181
Duplicate of #147

[2021-11-11 09:45] #181 closed

[2021-11-11 13:51] jamesrwelch commented on #185
I can confirm that it's an issue with the asset pipeline not being able to load the defaults.properties file.  Going to revert back to the old way of loading it to see if that improves things.   Once fixed, the error handling / logging needs imrpoving so that if the file is not found, an error is written to the logs

[2021-11-11 18:55] oughnic opened #186 "Error expanding subscribed catalogues"
**Describe the bug**
Error expanding a subscribed catalogue

[code]

**To Reproduce**
1.  Add an API key to the source catalogue
2. Add the source catalogue as a subscribed catalogue in the destination catalogue
3. Expand the subscribed folders

[2021-11-11 18:57] oughnic commented on #186
To be assigned to @joe-crawford

[2021-11-12 11:53] joe-crawford commented on #186
I can confirm I can reproduce this on a local development instance when connecting to nhsd-test, I will investigate.

[2021-11-12 13:46] Sunspark opened #187 "Pathing API returns incorrect entity on name collision"
**Describe the bug**
Given a structure as shown here:
![image](https://user-images.githubusercontent.com/5920776/141475873-c30568db-8375-45ce-b065-0acf70efc140.png)
Calling the API with URL:
{{base_url}}/dataModels/path/dm%3Amaurodatamapper%7Cdc%3Aannotation
Returns the JSON snippet shown below, which details the entity at (maurodatamapper > core > annotation):
![image](https://user-images.githubu

[2021-11-12 13:52] Sunspark opened #188 "Path API returns inappropriate entity when "search" matches"
**Describe the bug**
Given a structure as shown here:
![image](https://user-images.githubusercontent.com/5920776/141475873-c30568db-8375-45ce-b065-0acf70efc140.png)
Calling the API with URL:
{{base_url}}/dataModels/path/dm%3Amaurodatamapper%7Cdc%3Aapi_property
Returns the JSON snippet shown below, which details the entity at (maurodatamapper > core > api_property):
![image](https://user-images.git

[2021-11-12 14:28] Jayafo commented on #162
Hello @jamesrwelch i have retested this defect and clearing of this fields is not refreshing the page compare to other search functions.

Failed Retest and can you please reopen the defect.

Thanks.

[2021-11-12 14:32] jamesrwelch commented on #162
@gammonpeter Are you able to look at this again, please - wrt Jayafo's comment above

[2021-11-12 14:36] olliefreeman commented on #162
@jamesrwelch @Jayafo what do you mean by clearing of the search options resulting in refreshing??? Do you expect clearing an option to auto re-search and show the results????

the reason I ask is that those filters are not dynamically applied by the UI, you have to click the search button again after changing the search options to ask the backend for the results.

And therefore is it failing becau

[2021-11-12 14:37] olliefreeman commented on #162
Also I would argue that the “retest” scenario is not the same as the original issue raised and therefore this should be a new bug

[2021-11-12 14:49] Jayafo commented on #162
Hello @olliefreeman The issue is that once you select the dates for either the Last Updated field or created field, the screen refreshes and populate more specific result, then when these fields are deleted the screen is expected to refresh and display previously returned searched results before the last updated and created fields were used

[2021-11-12 14:51] olliefreeman commented on #162
Okay so this is actually a ui issue not a core issue then

[2021-11-12 14:52] #162 closed

[2021-11-12 14:54] olliefreeman commented on #162
reopened the linked UI issue

[2021-11-12 15:37] Jayafo commented on #162
Failed Retest and tracking under 395

[2021-11-12 15:46] jamesrwelch opened #189 "`date_finalised` is null on some finalised models"
Creating a ticket for something that needs further investigation.  We've found a few instances of data models that have finalised = true but date_finalised as null.  Not entirely sure how this happens yet - the models found appear to have been imported via JSON / XML.

[2021-11-12 15:56] olliefreeman commented on #189
We need to determine the following

1. Does the Json have a date finalised?
2. Was the Json imported with “import as finalised” == true or false

this is important as we need to understand what resulted in the finalised date being null.

also we need sample jsons of those we know were an issue to see if the date finalised changed name or wasn’t bound correctly

[2021-11-12 16:27] olliefreeman commented on #189
having looked at the models in question inside the system they were exported from, the models were NOT finalised.
This suggests that "importing as finalised" is not setting or saving the date correctly

[2021-11-12 16:54] joe-crawford commented on #186
Issue is due to some null `datePublished` values on existing published models on the remote catalogue, raised as #189.

[2021-11-12 18:00] olliefreeman commented on #182
So the copy should be running the CaralogueItemService method to sort all the ids after inserting. A test should be created which copies a DC with DE content with facet content and then see why that method isn’t being called.

[2021-11-12 18:06] GBishop-PHSA commented on #182
It calls uk.ac.ox.softeng.maurodatamapper.core.model.CatalogueItemService#save(java.util.Map, K). Which method sorts the ids? Is it the call to updateFacetsAfterInsertingMultiFacetAware?

[2021-11-15 13:47] joe-crawford commented on #186
Hi @oughnic, this issue has now been resolved on nhsd-test by @jamesrwelch fixing some data from model importers. The underlying cause has been raised as #189 so I'll close this issue. Thanks.

[2021-11-15 13:47] #186 closed

[2021-11-17 01:15] jelenadreskai opened #191 "Ability to export classifiers (enhancement request)"
As Mauro administrator, I want to be able to export/import classifiers, so that I can move the same configuration from one Mauro instance to another (QA to PROD, or PROD to QA) etc.

[2021-11-17 01:17] jelenadreskai commented on #191
Note to @jamesrwelch At this point this will be lower priority for us, since we found a workaround (create a data model with all classifiers), export using XML exporter, and import that data model in another Mauro instance.  However, I do not think Admins should be doing this :)

[2021-11-17 09:48] Sunspark opened #192 "API pathing endpoint does not find folders that exist"
**Describe the bug**
When searching the Mauro API at endpoint `/folders/path` , a folder that is known to exist is not returned.

**To Reproduce**
Steps to reproduce the behavior:
Given the non-versioned folder 'FreshFineFish'
 ![image](https://user-images.githubusercontent.com/5920776/142176917-c9e1a7c5-0599-4da0-a284-801376b6b77d.png)
When I call the API pathing endpoint, using the prefix derive

[2021-11-17 17:10] Sunspark opened #193 "Excel workbook exported by SimpleExcelDataModelExporterProviderService does not have headers in 'Enumerations' sheet"
**Describe the bug**
Excel workbook exported by SimpleExcelDataModelExporterProviderService does not have headers in 'Enumerations' sheet. This causes an Import error when trying to import the workbook via SimpleExcelDataModelImporterProviderService.

**To Reproduce**
Steps to reproduce the behavior:
1. Given a running Mauro instance with a known extant model.
2. When I request to the SimpleExcelD

[2021-11-17 17:17] Sunspark commented on #193
Doh, Sorry, raised this issue on the wrong project. This has been raised as issue #5 on the Excel Provider. `https://github.com/MauroDataMapper-Plugins/mdm-plugin-excel/issues/5`

[2021-11-17 17:17] #193 closed

[2021-11-19 09:54] aaronforshaw commented on #187
In DataClassService we have
[code]

```DataClass dataClass = findByDataModelIdAndLabel(parentId, label)``` finds the first of two data classes which match on data model ID and the label 'annotation'. Note that therefore the order in which the annotation classes were added to the data model is significant when reproducing this bug.

Need to change the find so that it restricts to data classes where

[2021-11-19 10:35] olliefreeman commented on #187
@aaronforshaw I did some major rework to pathing.
I think this issue is cos the DC query is not properly querying the database wrt with or without a parent dataclass.

theres another issue with pathing and folders not finding top level folders and I think it’s because the query is failing when parent.Id is null and I think we should be better written to say “if parent is null then apply the “null

[2021-11-19 17:26] GBishop-PHSA commented on #182
Copy class functionality has no issues, but the last step in the DataClassController, is to call saveResource on the copied class. After the save is processed, the data element metadata is missing the multi_facet_aware_item_id in the table core.metadata.

The entry in datamodel.join_dataelement_to_facet is correct for the data element metadata, but any call to get data element metadata from the UI

[2021-11-19 22:18] jelenadreskai commented on #184
@jamesrwelch  @olliefreeman @gammonpeter
Hi guys, Gail had a look at this and noticed that there is a newer library for this available. Is it worth trying just using the new lib and see if this helps with this bug?

[2021-11-23 19:05] jelenadreskai commented on #182
@jamesrwelch or @olliefreeman Can you assign this issue to @GBishop-PHSA .

[2021-11-25 13:38] #171 closed

[2021-11-25 13:41] #185 closed

[2021-11-25 13:44] #187 closed

[2021-11-25 20:38] GBishop-PHSA commented on #182
@olliefreeman I'm stuck on how to resolve this issue, so I've created a pull request with an incorrect solution for review. I updated the BootstrapDatamodel to add metadata on the class and element level, but also had issues getting the metadata to save correctly on the call to saveAndCheck().

[2021-11-26 09:59] aaronforshaw commented on #188
@Sunspark is this a duplicate of #187 ?

[2021-11-26 15:13] #168 closed

[2021-11-30 10:36] olliefreeman commented on #146
Linked to MC-9723

[2021-11-30 10:38] olliefreeman commented on #182
@GBishop-PHSA when you open a PR if you add `Fixes #xxx` to the description it auto links the PR to the Issue which makes resolution easier/automatic

[2021-11-30 10:43] olliefreeman commented on #196
Linked to MC-9723

[2021-11-30 10:43] olliefreeman commented on #183
Possibly linked to MC-9723

[2021-11-30 10:46] olliefreeman commented on #188
@aaronforshaw yes I believe this will be solved by 187s solution

Duplicate of #187

[2021-11-30 10:46] #188 closed

[2021-11-30 10:47] olliefreeman commented on #188
Duplicate of #187

[2021-11-30 10:58] #192 closed

[2021-11-30 11:01] #180 closed

[2021-11-30 13:52] oughnic opened #203 "Unable to merge a profile change back to main"
**Describe the bug**
When merging a change to a profile (editing an enumeration) I get "deleted object would be re-saved by cascade (remove deleted object from associations): [uk.ac.ox.softeng.maurodatamapper.core.facet.BreadcrumbTree#57f8a96c-5c3b-46aa-9acb-b26438369907]"

**To Reproduce**
1. Branch the model for a profile
2. Make a change
3. Merge the change back into the main model

**Expected

[2021-11-30 18:39] jelenadreskai opened #204 "Classification list limited to 10 items [limitation]"
Open an existing datamodel
Select Default Profile
Click on Edit Default Profile
Select Classifiers drop down list
The list contains only 10 classifiers.

Note: The same behavior is in the Advanced Search, where list of classifiers shows up.

Expected:
All public classifiers should be shown in the drop down list.

UI: 6.6.0
CORE: 4.10.0

@jamesrwelch @olliefreeman @pjmonks
Our solution was to incre

[2021-12-01 12:48] olliefreeman commented on #204
@jelenadreskai @GBishop-PHSA does the UI not have the pagination controls which appear in other places??

[2021-12-01 14:16] olliefreeman commented on #189
I can't replicate this under test either by importingAsFinalised or by having finalised set in the json .... even if you remove the dateFinalised field from the json it just sets the finalised date as the current timestamp.
So I really am not sure how this has happened.

[2021-12-01 22:54] jelenadreskai opened #205 "Importing new version of the data model using Excel wipes out all classifiers previously assigned to a data model"
**Describe the bug**
Importing new version of the data model using Excel Importer wipes out all classifiers previously assigned to a data model.
Our end users maintain data models using Excel.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a data model and assign a few classifiers to it.
2. Export data model
3. Make changes to the data model description (or any other changes) in the

[2021-12-02 10:57] olliefreeman commented on #183
@aaronforshaw can you put some tests together for this, and if you can fix it without touching the mdm-security module then fix it. If its an issue inside the mdm-security module then can you detail why and I can fix it while I work on mc-9723

[2021-12-02 10:59] olliefreeman commented on #205
We should add this to the functionality developed as part of MC-9536. No need for addtl parameters, just make it part of that propagation

[2021-12-02 11:00] olliefreeman commented on #205
@aaronforshaw while you do this can you update/override the methods inside the datamodel plugin to propagate the Summary Metadata, its why mc-9536 is still open as we missed it in the release

[2021-12-02 11:03] olliefreeman commented on #204
@gammonpeter @pjmonks this seems like a UI issue rather than API issue, as the api should allow pagination. Can you add pagination to the UI in these areas???

[2021-12-02 11:06] olliefreeman commented on #191
classifiers are virtual, in my mind the export and import should handle classifiers ONLY and should not include the models they are attached to, the way to import/export models should be to use the folders, which by using json/xml would include the classifiers attached to those models.

@jelenadreskai would you want the classifiers to include the models in this enhancement or just the classifiers

[2021-12-02 14:58] olliefreeman opened #206 "Failure on importing a model once the modelVersion hits v10"
If you import any model with the following parameters

* importAsNewBranchModelVersion = true
* finalised = true

Once you hit `modelVersion: 10.0.0` the next import will fail with
[code]

[2021-12-02 16:53] aaronforshaw commented on #183
I am not sure I understand the expected behaviour, so @olliefreeman please confirm if this is correct:

| |Folder Public|Folder Not Public|
|---|---|---|
|Data Model Public| 1. Folder is marked in database and UI as public. 2. Data Model is marked in database and UI as public. 3. Data Model is visible to unauthenticated user | 1. Folder is marked in database and UI as **not** public. 2. Data Model

[2021-12-03 10:27] aaronforshaw commented on #205
Classifiers are already propagated, but I guess (not certain) this work was released in B4.11.0_F6.7.0.

@jelenadreskai I ran your scenario on the latest code, but with the additional note in step 4 as follows:

4. Re-import data model version using Excel Importer, checking the "Import as New Branch Model Version" and "Propagate From Previous Version" checkboxes

and found that classifiers were co

[2021-12-03 16:57] #177 closed

[2021-12-06 09:42] olliefreeman commented on #183
Okay so permissions are always inherited, however they can be overridden but only to "loosen" security, never to tighten.

SO in the table you have done

| |Folder Public|Folder Not Public|
|---|---|---|
|Data Model Public| 1. Folder is marked in database and UI as public. 2. Data Model is marked in database and UI as public. 3. Data Model is visible to unauthenticated user | 1. Folder is marked i

[2021-12-06 13:49] #178 closed

[2021-12-06 14:36] oughnic opened #208 "Property DomainID cannot be null when copying an element"
**Describe the bug**
When copying a data element from one model to another, the error "Property [DomainID] cannot be null" is shown in the UI.

**To Reproduce**
1.  Create a model and class
2.  Add a data element, copying from an existing element

**Expected behavior**
The element should make a copy without error

**Screenshots**
![image](https://user-images.githubusercontent.com/27196895/14486237

[2021-12-06 16:28] aaronforshaw commented on #183
@olliefreeman I think this needs a fix within mdm-security.

When the folder is updated with ```readableByEveryone: false```, the security policy manager for the not-logged in user is updated at:

https://github.com/MauroDataMapper/mdm-core/blob/afc24bf7d1b2cce1fd36851cd6fb9945dcbdad2f/mdm-security/grails-app/services/uk/ac/ox/softeng/maurodatamapper/security/policy/GroupBasedSecurityPolicyManager

[2021-12-06 16:40] olliefreeman opened #209 "Version 'Fix status enumeration' does not match the expected pattern"
@oughnic Had the below error when trying to access a profile.

this is an issue where the DynamicProfileProviderService has
`this.dataModelVersion = dataModel.modelVersionTag ?: dataModel.modelVersion ?: dataModel.branchName`

so it's picking the tag and/or branchName which cant then be parsed into a version, the issue needs to be fixed in the DynamicProfile as we have to be able to sort by versio

[2021-12-06 16:50] olliefreeman commented on #183
@aaronforshaw thanks

[2021-12-07 11:21] #205 closed

[2021-12-07 11:23] olliefreeman commented on #191
This is on hold until MC-9555 is completed

[2021-12-07 11:26] olliefreeman commented on #208
domainId is a BreadcrumbTree field

i suspect the copied DE is being saved using the dataElementService but the DataType is being created as well and whilst its being saved the dataTypeService.save() method isnt being used and therefore the facets & BTs arent being updated. This is a guess.

[2021-12-07 13:03] olliefreeman commented on #203
@oughnic exactly what change did you make? You said you editted an enumeration, what did you edit?

this issue is irrelevant of it being a profile, its all about the merging a branch and deleting the branch, which we have tests for so its obviously a change we havent allowed for.

[2021-12-08 18:28] jelenadreskai commented on #191
Sorry Ollie, I did not see the note to me.

This request was more for the classifier list to be moved from one MDM instance to another, independent of the data model.

This request was not meant to be part of the Data Model Import/Export. That can be considered as a separate issue (bug) - https://github.com/MauroDataMapper/mdm-core/issues/205.

[2021-12-08 18:30] jelenadreskai commented on #205
Thanks @aaronforshaw We were testing using 4.10/6.6.0. Great to hear that it was fixed in the next release.

[2021-12-08 18:40] jelenadreskai opened #211 "Incorrect search results by classifier"
Use and Advanced Search to find a date model that contains "data" in the name, and is classified as "Environment: PopData".

Expected results:
None should show up in the results, because none of the data models were classified using this classifier

Current result:
DataModel Classified shows up in the results, even though this classifier is not applied to that data model.

It has been confirmed th

[2021-12-08 18:42] jelenadreskai commented on #211
@jamesrwelch @olliefreeman
We made a code change to do the exact match when someone is picking classifiers to perform a search by classifier. If you agree with the solution, please assign this bug to @GBishop-PHSA, and she can contribute the code change.

[2021-12-08 18:42] aaronforshaw commented on #208
I have not been able to reproduce the bug in exactly the way described by @oughnic, but the following scenarios provoked the same error:

1. Use the JSON Data Model importer to import a non-finalised Data Model with at least one Enumeration Type
2. Try to edit any properties of a Data Element which uses the Enumeration Type

OR

1. Use the JSON Data Model importer to import a non-finalised Data Mo

[2021-12-08 21:32] jamesrwelch commented on #211
Brilliant, thanks!

[2021-12-09 10:54] olliefreeman commented on #209
Okay,

So version should only be semantic, for those DMs which dont have a model version yet please set the version to `SNAPSHOT` as that should be `uk.ac.ox.softeng.maurodatamapper.version.Version#isVersionable(java.lang.String)`

[2021-12-09 12:54] aaronforshaw opened #213 "Cannot add a profile, with a data type I have added, to a model"
**Describe the bug**
Get a ```java.lang.NullPointerException: Cannot get property 'label' on null object```when applying a profile which includes a Data Type I have added

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Data Model, adding the Profile Specification Data Types, and adding the Profile Specification Profile.
2. Add a Data Class to the profile
3. Add a Data Element to

[2021-12-09 13:51] olliefreeman commented on #213
is this an issue because if someone defines an ET then it doesnt appear??
i would only envision allowing ETs to be custom when defining a profile as we want to limit the allowed DTs to those the UI is configured to display

[2021-12-09 14:15] aaronforshaw commented on #213
This issue is not related to Enumeration Types. In the example, I have a Primitive Type with a label e.g. 'Custom'. The profile cannot be retrieved because 'Custom' is not one of the enum ProfileFieldDataType defined in

https://github.com/MauroDataMapper/mdm-core/blob/3c63a679be62ddf9aa9ce0852f7baad047f08eec/mdm-plugin-profile/src/main/groovy/uk/ac/ox/softeng/maurodatamapper/profile/domain/Profil

[2021-12-09 15:24] Sunspark opened #214 "500 NullPointerException when requesting model tree"
**Describe the bug**
An authenticated user that has been granted permission to view an object cannot retrieve the model tree. This appears to be an internal server error.

**To Reproduce**
Steps to reproduce the behavior:
Given a mauro instance containing models
![image](https://user-images.githubusercontent.com/5920776/145419914-f3b969b9-5549-4bd2-aa5c-83d8aa68efa1.png)
Given a user group
![image

[2021-12-09 17:11] Sunspark opened #215 "Request to update user group details does not update user details, whilst reporting success."
**Describe the bug**
When attempting to update a user's group details, the API endpoint reports success of the change, but the change does not seem to be propagated to the database. Following queries show the change has not taken place.

**To Reproduce**
Given a mauro instance containing users
Given a user that is in multiple groups
![image](https://user-images.githubusercontent.com/5920776/145442

[2021-12-09 17:18] olliefreeman commented on #215
@Sunspark this is because this isn’t how you edit the groups that a user is part of.

You have to use the delete user from user group endpoint. This is important as this will then update the users permissions.

[2021-12-09 17:19] olliefreeman commented on #215
The only reason the groups are included in the Json is to help the ui make less calls, I didn’t originally want the groups in the json

[2021-12-09 17:20] olliefreeman commented on #215
Delete request to “/api/userGroups/$usergroupid/catalogueUsers/$catalogueUserId”

[2021-12-09 20:55] Sunspark commented on #215
Cool, that's something to know.

However, the functionality still doesn't work if you attempt it through the UI.

[2021-12-10 09:44] Sunspark commented on #215
Can confirm 'delete this user from this group' API call works.

[2021-12-10 10:28] aaronforshaw commented on #70
I started with a finalised model having summary metadata and am able to reproduce the issue described by @theresanoble.

From the UI, there are three ways to copy a Data Model:
1. New Fork: In this case, the backend explicitly sets a flag to not copy summary metadata to the new fork
2. New Version: the backend copies summary metadata at the Data Model level, but not for the Data Class or Data Elem

[2021-12-10 10:40] jamesrwelch opened #216 "Invalid - Terminology - must be unique by branch name when creating a new branch"
I'm creating a new branch of the Data Dictionary Versioned Folder and getting the following error
(Supporting Information is one of the top-level terminologies)

[code]

[2021-12-10 11:01] olliefreeman commented on #70
@aaronforshaw yup, fork should never copy SM, but branching and new versions (model and documentation) should.

[2021-12-10 12:09] olliefreeman commented on #215
i'll look into this

[2021-12-10 17:55] jelenadreskai commented on #214
@olliefreeman I've seen the same issue in the previous release. The user is part of the Container Administrator group.

If I add the same user to be in the group of users who are Editors (even though I think I should not be doing this at the Folder level), then the tree gets populated properly. However when I initiate the import, there are no folders shown in the drop down list for the importer to

[2021-12-10 20:34] jelenadreskai commented on #215
@olliefreeman @Sunspark
Yes, it took me a while to understand that I need to go to the user groups and make these changes. Perhaps just the UI can be improved to either make user groups as a read only field on the User configuration screen, or either allow users to make these changes from this screen as well.

[2021-12-13 10:21] #206 closed

[2021-12-13 10:22] #208 closed

[2021-12-13 12:20] olliefreeman commented on #196
okay so this is fixed as much as it can be from the API, its still possible the UI shows multiple messages but that will be down to how it calls the SC endpoints.

[2021-12-13 12:21] olliefreeman commented on #196
this should be solved by MC-9735

[2021-12-13 12:27] #183 closed

[2021-12-13 12:27] #196 closed

[2021-12-13 12:27] #214 closed

[2021-12-13 12:29] olliefreeman commented on #216
this seems a little odd as we specific tests to branch VFs containing DMs, Ts and CSs ... which would mean all those tests would fail.

[2021-12-13 16:02] oughtibridge commented on #203
I'm not entirely sure what I was doing, but the most likely scenario is I created a new enumeration in the Main branch, then branched a change to switch the keys and values over because the UI tripped me up.

[2021-12-14 10:02] PaulChapmanPM commented on #208
Hi @olliefreeman - I think the comments above mean that this has been fixed.  If so, would you confirm if the fix has been applied to https://modelcatalogue.cs.ox.ac.uk/nhsd-test (or when it will be if not).
Thanks.

[2021-12-14 10:05] jamesrwelch commented on #208
@PaulChapmanPM If it's marked as fixed in GitHub, that means the fix is in the develop branch.  When it gets added to a release, this ticket will be updated again.  Once we have a new release, I'll update the systems we host and let you know.

[2021-12-14 10:07] PaulChapmanPM commented on #208
Great.  Thanks James.

[2021-12-15 09:31] jamesrwelch opened #219 "Remove requirement for a codeset to have at least one term"
At the moment, there's a rules that states that a CodeSet must include at least one Term.  However, in a new project, we will want to record a Rule (a SNOMED Expression) for a CodeSet to calculate which terms are included (This calculation will happen externally to Mauro).  So for these CodeSets we don't want to include any terms explicitly.

[2021-12-15 10:10] olliefreeman commented on #203
out of interest why did you branch??? were you just playing or was there a specific "use reason"?

[2021-12-15 10:26] oughnic commented on #203
Probably more philosophical - I generally prefer to amend via branches, view the differences and then merge back

[2021-12-16 03:26] jelenadreskai opened #220 "Excel Importer: reference data type name changes ignored"
1. One version of data model is created, and contains a reference data type
2. Export data model
3. Update reference data type name from 'old_name' to 'old_name_ref'
4. Import a new version of the same data model

Current behavior:
Reference data type name change ignored completely. Tables properly associated, but name was not updated.

Expected results:
Reference data type names were updated.

Ad

[2021-12-16 11:08] #70 closed

[2021-12-20 12:31] #182 closed

[2021-12-20 12:32] #209 closed

[2021-12-21 09:28] aaronforshaw commented on #216
Reproduceable as follows:
- Export the Simple Test Data Model or Simple Test Terminology as json
- Create a new folder or versioned folder
- Use the json importer to import the file you just exported
- See the error

The ModelLabelValidator

https://github.com/MauroDataMapper/mdm-core/blob/2f77930afabaadf02741d0963868483ef9ab68f9/mdm-core/src/main/groovy/uk/ac/ox/softeng/maurodatamapper/core/gorm/

[2021-12-21 14:15] olliefreeman opened #222 "Cannot merge a patch which includes a change of DT for a DE"
Found inside the NHSDD, it would appear the label of the DT changed, i suspect this is actually that the DT itself changed.
However the patch below could not be applied because `groovy.lang.MissingPropertyException: No such property: dataType.label for class: uk.ac.ox.softeng.maurodatamapper.datamodel.item.DataElement`

We need to work out how to handle the DT changing for a DE inside a branch, as

[2021-12-22 11:07] olliefreeman commented on #216
no, naming is unique across the WHOLE system it is not dependent on the folder location.

[2021-12-22 11:16] olliefreeman commented on #220
think this belongs under the excel plugin repo.

[2021-12-22 11:23] jamesrwelch commented on #216
I think @gammonpeter had a similar issue with a much smaller VF (one DM)

[2021-12-22 20:49] jelenadreskai opened #224 "User who has Editor rights on a folder cannot import a data model into that folder (Excel importer)"
**Describe the bug**
User who has Editor rights on a folder cannot import a data model into that folder (Excel importer).

**To Reproduce**

Pre-requisite: create a user and add him to one user group. Set that user group to have Editor rights on a folder.

1. Go to the folder where user has editor rights
2. Click on Import data model, and select Excel Importer
3. Select Excel file
4. Click on impo

[2021-12-23 20:09] jelenadreskai commented on #224
Note:  We found out that
1) user has to have both Content Administrator & Editor permissions in order to import data models in that folder.
2) The importer UI will pick up the folder where user is Content Administrator, but only root folders. Nested folders are ignored. @GBishop-PHSA is looking into at least fixing the UI drop down list.

[2021-12-30 11:39] jamesrwelch opened #226 "Incorrect query for retrieving elements in data class"
In DataClass.groovy, the method:
[code]
Results in the SQL query:

[code]
which returns extra rows when elements are imported into another class.  One way to solve this might be a 'distinct' clause.  Better might be to ensure the SQL gets an extra 'and' clause in the first join:

[2021-12-30 11:41] jamesrwelch commented on #226
This breaks the pagination in the UI because the number of actual results is far less than the UI is expecting.

[2021-12-30 11:47] olliefreeman commented on #226
I’ll look at this on the 5th

[2022-01-06 11:23] joe-crawford opened #228 "Version links not imported if subscribing to models out-of-order"
**Describe the bug**
When a published model (e.g. M 1.0.0) is subscribed to, and then a newer version of the model (e.g. M 2.0.0) is subscribed to, a newer version link from the new model to the old model is imported. However, when the newer version is imported and then the older version is imported, the newer version link is not imported.

**To Reproduce**
Steps to reproduce the behavior:
1. From

[2022-01-07 16:28] pjmonks opened #230 "Advanced search returns 500 error when passing a `lastUpdatedBefore` value"
**Describe the bug**
When submitting a `POST api/catalogueItems/search` request where a `lastUpdatedBefore` date value is provided in the payload, an internal server error always occurs. This does not happen on any of the other date filters though - `lastUpdatedAfter`, `createdBefore` or `createdAfter`.

**To Reproduce**
Submit this request, so long as a value is provided for `lastUpdatedBefore`:

[2022-01-11 10:16] #211 closed

[2022-01-13 11:18] jamesrwelch opened #232 "Allow multiple login events on the same cookie"
When we have multiple user interfaces using the same back-end, it's often useful to log into both interfaces at the same time, from the same browser.  This enhancement request is to allow another login to happen on the same cookie *if the user credentials verify and are for the same user that is already logged in*.

[2022-01-13 14:13] pjmonks opened #233 "Validating a profile date field with "yyyy-MM-dd" format is always considered invalid"
**Describe the bug**
When a profile contains a field with the `date` (or `datetime`) type, if you submit the profile for validation and pass a date value in the format "yyyy-MM-dd" (e.g. "2022-01-13"), this always returns a validation error.

The problem is in `ProfileFieldDataType.groovy`, where "yyyy-MM-dd" is not an allowed format for `DateUtils.parseDateStrictly()`. This format is considered p

[2022-01-14 11:11] olliefreeman commented on #216
given that the whole NHSDD can be branched without issue, I'm convinced this was an issue in the plugin, therefore closing

[2022-01-14 11:11] #216 closed

[2022-01-14 11:21] olliefreeman commented on #219
@jamesrwelch  We actually removed this restriction on the backend back in MDC world. The remaining restriction is in the UI only, therefore transferring to the UI.

[2022-01-14 12:43] olliefreeman commented on #220
moved to https://github.com/MauroDataMapper-Plugins/mdm-plugin-excel/issues/6

[2022-01-14 12:43] #220 closed

[2022-01-14 13:18] jamesrwelch opened #234 "Data Elements have same idx value"
The data elements in the bootstrapped data model `Complex Data Model`, class `Content` have the same `idx` value.

This may also be an issue in creating a new version - an example in the NHSD test instance has a class in v0.0.1 of the model with idx values 0 and 1, but in the v0.0.2 model, the idx for those equivalent elements is 1 and 1.

Editing the description of an element does not fix the idx

[2022-01-18 13:24] olliefreeman commented on #234
okay, so im finding an issue on DCs inside bootstrapped DMs due to the way we build and save the DM. however for a branched model/copy there should be no way for this to be an issue as a DM or DC without an id will call a full sort on its children, so i'm not sure what happened with your v0.0.2

[2022-01-18 13:38] olliefreeman commented on #234
@jamesrwelch do we want to accept a "startup hit" by adding a migration script which checks and sorts all the idx values? or just leave as is?

[2022-01-18 14:25] jamesrwelch commented on #234
@olliefreeman I'm afraid I think we do want to take that hit, otherwise existing models with the issue will continue to have the same problem, and this might get reported again.  I'll have a quick play and try to work out why the 0.0.2 model is in that strange state

[2022-01-19 11:49] olliefreeman opened #235 "Cannot move a sub folder up to the root"
You cannot move a folder which is inside another folder out of all folders,
the url would be `/api/folders/$folderId/folder/null` which is not allowed.

We need to code in the ability to move a folder into the "root"

[2022-01-19 12:59] jamesrwelch commented on #235
At the moment this is achieved in the UI by `PUT /api/folders/$folderId` with `"parentFolder":null` in the body

[2022-01-26 16:41] olliefreeman opened #236 "Null domain_id column for EnumerationValues in the breadcrumb_tree table"
The breadcrumb_tree table's domain_id column is null for EV data,
the grails 5 migration will fix it but we need to resolve it, or at least work out if this is still a present issue or something historic

[2022-01-27 10:15] Sunspark opened #237 "Dissociate Mauro core from the database layer"
This isn't a bug, it's a feature request.

At the moment, Mauro core is mostly separate from the database layer, but there are some points where a Postgres database is assumed, and a Postgres dialect command is issued, causing a database tie-in.

The feature request is "Please can the Mauro core become independent of the database layer, so that Mauro can exist backed onto any database provider".

[2022-01-27 10:24] olliefreeman commented on #237
The areas to check with this will be the

* migration scripts -> no idea how we make these indepedent of PG as i know there a cpl of required installs for pG which def dont exist in any other system, but the vast majority of the sql is generic
* GormUtils -> in the disableDatabaseConstraints -> this HAS to exist to all the optimised deletions to exist, therefore as we have to hardcode handling we

[2022-01-27 13:50] alanpnhs opened #238 "Apply a business created profile to a Codeset"
Please fill in the sections below, adding/removing information where applicable:

# Description

When attempting to apply a profile (in this case DD4C Profile (Standard)) to a Codeset, the system failed, presenting a failure message "There was a problem getting the selected profile".

# Steps to reproduce - please see attached error report which shows screen shots taken whilst producing the error.

[2022-01-27 17:05] olliefreeman commented on #237
Also the as a side note the documentation is currently clear that we dont support anything other than postgres.
https://maurodatamapper.github.io/installing/configuring/changing-database/

[2022-02-04 10:28] olliefreeman commented on #238
Theres currently an issue with how dynamic profile names are handled when being passed around in urls, basically special characters/punctuation other than the simple "space" will not work. So please keep your names restricted to using alphanumeric characters and spaces.

[2022-02-04 10:29] #233 closed

[2022-02-04 10:29] #232 closed

[2022-02-04 10:29] #230 closed

[2022-02-04 10:30] olliefreeman commented on #234
This is fixed through migration in v5, however leaving it open as we need to see if it strikes again and if so where and how

[2022-02-04 10:43] olliefreeman opened #240 "No DataModel Id provided against secured resource"
[code]

[2022-02-07 16:17] jamesrwelch opened #241 "Data Class ordering not maintained when creating a new version"
When creating a new version of a model, the classes are copied but the ordering is not maintained.  This happened within a versioned folder, but I assume the issue applies on a single model as well.  The `idx` field in the database is set, but not with the correct ordering.

[2022-02-08 10:22] jamesrwelch opened #242 "'Imported' data elements not persisted when creating new versions"
I have a VF which has a core model, with data elements in.  I have other models in the VF which re-use those elements by importing.  When I create a new version / branch, that re-use is not copied into the new model.  Similarly for data classes that 'extend' other data classes

[2022-02-08 11:07] jamesrwelch opened #243 "Permissions issue moving versioned folder"
Logged in as an administrator, trying to move a finalised versioned folder from one folder into a sub-folder.  The backend returns: `User does not have the necessary permissions`.

[2022-02-08 12:27] olliefreeman commented on #243
You can't move a finalised VF as its considered finalised and therefore uneditable, therefore it doesn't matter who you are. This is def a bug, the folder move needs to ignore the finalisation state

[2022-02-08 12:28] olliefreeman commented on #242
Imported and extended are currently not included in the "copy" method, this is due to them being added and not fully used so they weren't completed

[2022-02-09 07:08] jelenadreskai opened #245 "Configurable option: Disabling root folder & classifier creation [feature request]"
As an administrator, I want all users (including container administrators) to be restricted when creating folders and classifiers, so the data model organization structure is controlled by the main MDM provider/administrators.

Acceptance criteria:

- Non-administrator (content administrators/readers/editors/authors etc] should not be able to create a root folder. If content administrator, he/she

[2022-02-09 07:10] jelenadreskai commented on #245
@olliefreeman Here we go. This is a feature request. I cannot set any tags, you will have to tag it as a feature.

[2022-02-09 14:00] joe-crawford opened #247 "Creating API properties collection allows duplicate keys"
**Describe the bug**
API property keys should be unique. When creating keys via a collection, duplicate keys are accepted.

**To Reproduce**
Using Postman, repeatedly post the following to `/admin/properties/apply`:
[code]
When listing the API properties (`/admin/properties`), multiple instances of `a.first.xml.key` and `a.second.xml.key` occur.

**Expected behavior**
The API properties collection

[2022-02-09 16:17] joe-crawford opened #248 "404 errors subsequent to renaming folder"
**Describe the bug**
When renaming a Folder, the backend request successfully completes, however some subsequent backend calls temporarily return 404 which displays errors in the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Using the UI, log in as admin@maurodatamapper.com
2. Open a Folder
3. Rename the Folder using the 'Edit Title' option
4. The UI displays a 404 not found error for

[2022-02-10 11:01] joe-crawford opened #249 "Can create multiple default authorities"
**Describe the bug**
Multiple default authorities can be created, however only one should be allowed.

**To Reproduce**
1. Using Postman, repeatedly POST the following to `/api/authorities`:
[code]
2. Multiple default authorities are created and can be retrieved from `/api/authorities`.

**Expected behavior**
Only one default authority should be allowed. Creating a 2nd default authority or updatin

[2022-02-10 11:02] olliefreeman commented on #242
This will need to follow similar patterns to ModelDataTypes and Terms inside Codesets for branching and merging

[2022-02-10 11:03] olliefreeman commented on #241
This will need the idx field added to modelitems when copied, and then careful examination of the `uk.ac.ox.softeng.maurodatamapper.core.traits.domain.IndexedSiblingAware#fullSortOfChildren` method which is used when branching/validating new models

[2022-02-10 11:27] olliefreeman commented on #248
annoyingly i cant replicate this on my imac, but i can replicate it on the CD environment

[2022-02-10 11:38] olliefreeman commented on #248
right ... figured it out...partly its not replicating on my system cos i tweaked the way admins have their policies built so its faster .. but its because when the folder rename happens the tree is called with a request to reload the policy(no cache) due to the folder rename ... this drops the policy and recreates it, but while it does that the other endpoints then get a no-access response as ther

[2022-02-10 11:46] olliefreeman commented on #238
8ff2aa6245ee90f4a8345f555c15f47dd84b0b71 fixes this

[2022-02-10 11:46] #238 closed

[2022-02-10 11:49] olliefreeman opened #250 "Internal Server Error on a profile"
@jelenadreskai reported this into YT 2 months ago.
"version": "4.10.0-PHSA"
[code]

[2022-02-10 11:50] olliefreeman commented on #250
@jelenadreskai can you remember what happened, or do you know any more information.
Can you replicate this and get us the log files so we can see the stacktrace

[2022-02-10 13:56] olliefreeman commented on #245
i envision this as an ApiProperty which would be then configurable via the admin properties page.
At the moment any authenticated users can create a root folder/classifier (container), this option would be checked in the interceptors and return a forbidden response, which is what a non-logged in user gets, if the option is enabled.

If the option is enabled then only users in groups which have bee

[2022-02-11 09:18] olliefreeman commented on #222
@aaronforshaw can you solve this using the same fixes you applied in the PR229 and the MDT PR

[2022-02-11 12:50] olliefreeman opened #253 "Invalid permissions on the Group Role endpoints"
* No access to GroupRole resource

[code]

[2022-02-11 13:24] olliefreeman opened #254 "SRGR Create by UserGroup endpoint doesnt work"
The endpoint ` /api/userGroups/${userGroupId}/securableResourceGroupRoles` does not work as intended, currently throws an exception

[code]

[2022-02-11 13:26] olliefreeman commented on #254
there are currentlt NO FTs or E2Es for SRGRs. The PR for this issue MUST include at least the E2E `UserAccessFunctionalSpec` extended tests

[2022-02-11 14:09] olliefreeman opened #255 "Cannot set usergroup application role"
The endpoint `PUT {{base_url}}/admin/applicationGroupRoles/{{application_group_role_id}}/userGroups/{{user_group_id}}` throws the following exception

[code]

[2022-02-11 14:14] olliefreeman opened #256 "The list all user groups for SR by GR endpoint doesnt work"
The following endpoint `/api/${securableResourceDomainType}/${securableResourceId}/groupRoles/${groupRoleId}/userGroups` is not assigning the securableResourceId correctly resulting in a null id being searched for

[code]

[2022-02-11 15:45] olliefreeman opened #257 "Using soft deleteAll endpoint throws exception on unknown id"
If an unknown id is included in the list of ids to be deleted and permanent is false then an NPE is thrown

[code]

[2022-02-11 15:49] joe-crawford opened #258 "Update semantic link and version link endpoints return previous instance"
# Description

The endpoint to update a semantic link (PUT to `/api/{{domain_type}}/{{domain_id}}/semanticLinks/{{semantic_link_id}}`) updates the link successfully but returns the previous instance data in the response.

Also applies to the endpoint to update a version link (PUT to `/{{model_domain_type}}/{{model_id}}/versionLinks/{{version_link_id}}`).

# Steps to reproduce

1. Create a Semantic

[2022-02-11 15:56] joe-crawford opened #259 "500 error on calling Keep Alive endpoint"
# Description

Logged in as administrator, a GET to `/api/session/keepAlive` gives a 500 status error:

[code]

# Environment

Please complete the following information:
- mdm-core latest develop

[2022-02-11 16:36] olliefreeman commented on #259
Given that we havent seen this emerge in live usage, i suspect the endpoint can be removed. It was added to facilitate something for the UI.
Obviously the first thing to do is find out if the UI is using it. If not then this endpoint really serves no purpose

[2022-02-14 10:56] pjmonks opened #260 "Getting unused profiles on a folder fails when the folder label includes "@""
Please fill in the sections below, adding/removing information where applicable:

# Description

The `/api/folder/{id}/profiles/unused` endpoint returns a 500 if the folder label includes an "@" character. Also, the stacktrace suggests that a DB update is happening when only a fetch should happen.

# Steps to reproduce

1. Create a folder with a label that includes an "@" character e.g. named afte

[2022-02-14 13:14] olliefreeman opened #261 "Term searching does not seem to work"
The endpoint `{{base_url}}/terminologies/{{terminology_id}}/terms/search/?searchTerm=CTT15` when the `terminologyId` is for the complex terminology id is returning a count of 101 and 10 terms.

Expectations are for 1 term to be returned which has the code CTT15.

I suspect its because the HS indexing is splitting the code up (and/or the label) which is resulting in a search for `CCT`, `15` which w

[2022-02-14 15:30] joe-crawford opened #262 "Can't get user image file by file ID"
# Description

A 404 not found error is returned on `GET /api/userImageFiles/${id}` endpoint with a valid file ID.

# Steps to reproduce

1. Using the UI, upload an image for admin user. Successfully PUTS to `/api/catalogueUsers/{userID}/image`
2. Retrieve userImageFile ID from database
3. `GET /api/userImageFiles/${id}` with valid userImageFile ID using Postman, logged in as admin user, a 404 err

[2022-02-15 12:26] joe-crawford opened #264 "Cannot merge new data model to main branch of versioned folder"
# Description

Starting with an empty versioned folder, creating a new branch and adding an empty data model, then merging the VF back to main gives an error.

# Steps to reproduce

Using the UI:
1. Create an empty versioned folder and finalise
2. Using 'Create a New Version', create a branch named 'develop'; main and develop branches are created
3. In the develop branch, add an empty data model (

[2022-02-16 12:00] oughnic opened #266 "Offer to syndicate to other catalogues"

[2022-02-16 13:55] olliefreeman commented on #266
Actually we're not using the RSS feed.

We have 2 endpoints which broadcast RSS and OPML however to actually be able to subscribe and import the subscribed models we needed to use our XML/JSON importers/exporters as we dont have a prescribed RSS or OPML format for the actual model and its content.

Therefore we are currently entirely reliant on subscribing to another MDM instance ONLY, so we use t

[2022-02-16 17:12] #222 closed

[2022-02-16 17:33] olliefreeman commented on #224
This should be fixed now,

* with release 5 the permissions issue itself should be corrected
*  also we have made a change in the UI and backend with 9c8539539db79951f3fba86166a741e80d9e9f79 to only show the folders a user can actually import into when choosing the folder from the tree in the UI.

[2022-02-16 17:33] #224 closed

[2022-02-17 11:02] jamesrwelch opened #268 "Don't sort contents of a data class / data model"
Sometimes, it's useful to specify that you don't want to maintain an ordering on data elements or data classes, but just always view them in alphabetical order.
It would be nice to have a flag that could be set (ideally, by the users in the UI), to 'turn off' ordering.

[2022-02-17 12:14] pjmonks opened #269 "Data Model subset endpoint does not maintain Data Class hierarchy in target model"
Please fill in the sections below, adding/removing information where applicable:

# Description

Found an instance where subsetting a Data Model which included a DC parent/child hierarchy did not recreate that hierarchy in the target model.

# Steps to reproduce

The following steps are taken from the "Complex Test DataModel" from the development database.

Create a HTTP request as follows:

[code

[2022-02-17 13:55] aaronforshaw commented on #269
I think this is not directly related to the subsetting, but to the copying of reference types. Other scenarios which do not work are:
- Create a new Data Model and try to add a Data Type by copying 'child' from the Complex Test DataModel. DataTypeController throws an exception 'Copying of ReferenceType DataTypes is not possible'
- Create a new Data Model. Add an empty Data Class. Try to add a Data

[2022-02-20 13:31] olliefreeman opened #270 "Endpoint to list ReferenceData Model hierarchy throws StackTrace error"
The endpoint `{{base_url}}/referenceDataModels/{{reference_data_model_id}}/hierarchy` throws the following error.

[code]

[2022-02-21 09:56] pjmonks opened #271 "Getting child items under a folder does not order them alphabetically"
Please fill in the sections below, adding/removing information where applicable:

# Description

When using the `GET /api/tree/folders/{id}` endpoint, the response does not order the child items below that folder in alphabetical order.

# Steps to reproduce

Using the "Development Folder" in a dev instance, call the above endpoint where the `{id}` is the ID of "Development Folder". Then note the r

[2022-02-21 10:15] olliefreeman commented on #271
so looking at this screenshot...i seem to recall that models follow the same rules as DCs inside a DM for a tree.
they should be grouped by those with and without children, however inside those groups they should absoluetely be organised alphabetically...we had long discussions about this when we designed the tree response for MDC.

I think now that things have moved on a bit, then there should be

[2022-02-21 11:00] joe-crawford opened #272 "Permissions error on delete unused data classes and unused data types endpoints on data model"
# Description

The `PUT /dataModels/{{data_model_id}}/dataClasses/clean` and `{{base_url}}/dataModels/{{data_model_id}}/dataTypes/clean` endpoints give a 403 Forbidden error when called.

# Steps to reproduce

1. Logged in as an admin user, create a new data model with default data types containing only an empty data class.
2. Call the `PUT /dataModels/{{data_model_id}}/dataClasses/clean` and `{{b

[2022-02-21 11:41] olliefreeman opened #273 "Suggest links endpoint for RDM doesnt work"
The endpoint `{{base_url}}/referenceDataModels/{{reference_data_model_id}}/referenceDataElements/{{reference_data_element_id}}/suggestLinks/{{other_model_id}}` isnt coded properly throwing the following response. I

[code]
@jamesrwelch there was a lot of CnP when the RDM plugin was created, this and its partner `{{base_url}}/referenceDataModels/{{reference_data_model_id}}/suggestLinks/{{other_mode

[2022-02-21 11:53] olliefreeman opened #274 "Cannot create a new Ref Data Value using standard expected body"
The following endpoint `{{base_url}}/referenceDataModels/{{reference_data_model_id}}/referenceDataValues` should accept the following body

[code]

however its throwing a validation error

[code]

which suggest the RDM_id is not being assigned from the URL when the object is created

[2022-02-21 12:14] pjmonks commented on #271
From the perspective of a UI, you've raised a point where a folder containing sub-folders and models could be ordered:

1. Sub-folders in label order (ascending)
2. Then models in label order (ascending)

This has precedence, since file explorers in Mac/Windows/Linux follow this pattern too. It may become a bit more complex once branches and finalised versions are added to the list too.

Nonethele

[2022-02-21 13:19] olliefreeman commented on #271
i think the tree order should be controlled by us without params, as you say its a familiar concept with file explorer, and i do agree that it should be folders then models.

[2022-02-21 18:15] joe-crawford opened #275 "Can save data class in database with inconsistent data"
# Description

Certain usage of the endpoint to create a child data class can save a new data class in the `data_class` database table with inconsistent data (inconsistent `parent_data_class_id` and `data_model_id` fields).

# Steps to reproduce

1. Create a non-finalised data model having id {{non_finalised_model_id}}
2. Create a finalised data model containing a data class having {{finalised_dat

[2022-02-22 16:17] aaronforshaw commented on #269
At https://github.com/MauroDataMapper/mdm-core/blob/d6818d98e5868d22597e1a205ea661fb4f1b3e47/mdm-plugin-datamodel/grails-app/services/uk/ac/ox/softeng/maurodatamapper/datamodel/item/DataClassService.groovy#L604 need to use ```targetDataClass = copyCatalogueItemInformation(sourceDataClass, targetDataClass, user, userSecurityPolicyManager)``` rather than copying the label, description and createdBy

[2022-02-22 16:37] jamesrwelch commented on #271
Yep, I'm happy for this to be a back-end thing for the time being.  We may have times where we want the UI to override the default ordering, but not now.

[2022-02-22 16:37] jamesrwelch commented on #271
And I agree with sub-folders in label ordering, then DMs in label order.

[2022-02-22 16:38] jamesrwelch commented on #271
I'm not sure about differentiating models with children vs models without

[2022-02-22 16:38] olliefreeman commented on #271
Just for absolute confirmation
ContainerTreeItem
[code]
Model TreeItems
[code]
ModelItem TreeItems
[code]

[2022-02-22 16:40] olliefreeman commented on #271
The domainTypeIndex controls what order the domains come in, so Folders, then Models, do we want to group models of the same type or just allow global model label ordering??

[2022-02-22 16:43] jamesrwelch commented on #271
Containers: whether you want Folders first, then models, or all mixed in together, I guess depends whether you're a Windows / Mac user.  I don't mind that much, I think.  Listing models by name, then version, then branch is fine.
Within a model, I think there are two options: if the items have an ordering, they should be presented in that order.  If there is no ordering set, they should be in alph

[2022-02-22 16:47] olliefreeman commented on #271
i def think we want folders first, then models, but its more about then when we list the models do we jumble terminologies, CSs, DMs and RDMs all up together sorted by label, or collect each model type and then sort by label inside that collection?

Id rather not push idx values up to the treeitem, i feel that the tree should display sorted by label always, then the "list" page should sort by idx,

[2022-02-22 16:55] jamesrwelch commented on #271
I think mixing all model types is fine.  Any other ordering would be arbitrary - if people want to separate their model types they can create sub-folders.
I think ordering of classes might be important enough to appear in the tree... if you're modeling a form, or even an XSD, then it would look odd / confusing to see your classes in any other order.  But for some models - DBs, UML, etc, ordering i

[2022-02-22 17:20] olliefreeman commented on #271
![Screenshot 2022-02-22 at 17 19 26](https://user-images.githubusercontent.com/2587424/155184449-07166b77-8341-4867-a1f4-7e6e557b26ad.png)
![Screenshot 2022-02-22 at 17 19 43](https://user-images.githubusercontent.com/2587424/155184469-dd41b5a8-e237-450d-ad3b-24b17220be8d.png)
![Screenshot 2022-02-22 at 17 19 54](https://user-images.githubusercontent.com/2587424/155184470-2997c34c-e610-4747-8e9d-c

[2022-02-22 17:20] olliefreeman commented on #271
@pjmonks @jamesrwelch happy with the above sorting???

[2022-02-22 17:21] olliefreeman commented on #271
![Screenshot 2022-02-22 at 17 21 09](https://user-images.githubusercontent.com/2587424/155184684-5ef1d9c1-64f7-4d39-8c50-89b36174965a.png)

[2022-02-22 17:24] olliefreeman commented on #271
i'd missed 1 `.sort()` call in the entire service, basically stopped sorting the drill down trees, just want to make sure we dont want to change the actual built in sorting before i commit this

[2022-02-24 10:50] joe-crawford commented on #272
Comment from @olliefreeman: URL mappings for these endpoints could probably be removed.

[2022-02-24 12:03] olliefreeman commented on #240
Okay, this isn;t actually a backend bug as the url being queried is `https://modelcatalogue.cs.ox.ac.uk/nhsd-test/api/dataModels/undefined/dataClasses/4aaeb97a-eeaa-457d-8f54-d60873ce7c60/dataElements?max=20` where the DM id has been provided as `undefined` this is either a bug in the ui or just a random glitch. Im closing it down as if it was actulaly a bug then this would be happening all the ti

[2022-02-24 12:03] #240 closed

[2022-02-24 12:04] jamesrwelch opened #277 "Incorrect validation result for a JSON profile"
Profiles defined by JSON are not validating correctly - the wrong number of errors is being reported.  An example output is below.  15 errors are being reported, but there are only 9 fields, all of which are mandatory.  In this example, the number of errors should be 7, because there are 7 fields with no values.

[code]

[2022-02-24 12:12] olliefreeman commented on #272
basically we added these for MDC for james and I to use to clean up some DMs, they were never intended for public consumption and we never really used them. So yes, lets delete the endpoints and the controller methods

[2022-02-24 12:44] jamesrwelch opened #278 "Cannot import data elements from the same VF"
When trying to 'import' a data element from the same, draft, versioned folder, an error is returned.  You should be able to import data elements from the same Model / Versioned Folder, or from another, finalised Model / VF.
[code]

[2022-02-24 12:47] jamesrwelch opened #279 "Pagination on Data Elements not working correctly"
When looking for a data element to 'import', the UI calls:
`http://localhost:8080/api/dataModels/1dc596d5-a300-4a9e-ad69-4aa98e423215/dataClasses/fb17125a-258b-4fd3-ad75-b11eb26fc392/dataElements?max=20&offset=20`

And in this case only returned 3 results (there are many more than 40 data elements, so 20 should have been returned.
This may be related to ordering issues

<img width="1513" alt="Scre

[2022-02-24 13:52] olliefreeman commented on #279
ordering shouldnt have anything to do with pagination, pagination should be being passed off the to the db and we just get the amount of results requested....this is an odd one

[2022-02-24 13:55] olliefreeman commented on #278
So the validation should check/allow for importing from the same DM even when the DM is not finalised. The same allowance needs to be extended for DMs which exist inside a VF.

[2022-02-24 13:58] olliefreeman commented on #277
the ` "fieldTotal": 7` entry contains the number of invalid fields...this was added by Joe back in October. The `total` is the overall validation result. Which includes validation of the profile itself `Property [description] of class [class uk.ac.ox.softeng.maurodatamapper.profile.domain.ProfileField] cannot be blank` we need to review how the validation of a profile is actually taking place

[2022-02-24 14:04] olliefreeman commented on #279
@jamesrwelch i cant replicate this

[2022-02-24 14:25] olliefreeman commented on #279
also what DC has 8K DEs in it, the most ive got is Retired with 3K??

[2022-02-24 14:27] olliefreeman commented on #279
Ive tested this in a simple DB and also in 1 with 3 versions of the NHSDD, and i cannot replicate it, changed the offset and max values.

[2022-02-24 14:41] jamesrwelch commented on #279
It's an odd one - this is a recent ingest of the November DD, and you're right, I'm not sure why it has 8K DEs - maybe that's part of the problem.

[2022-02-24 15:07] olliefreeman commented on #279
can you give me the DM and DC label/path used in the url rather than the ids, so i can try and replicate it against what i have stored...and out of interest, in order:

1. reload the web browser page -> still an issue
2. stop and restart bootrun and reload -> still an issue??

[2022-02-24 15:14] olliefreeman commented on #279
also ... if it does replicate it, can you check the json thats actually being send from the backend to the browser

[2022-02-24 15:23] olliefreeman commented on #279
this isnt to do with pagination, this is to do with #226 and the imported items in this particular DM.

[2022-02-24 15:24] olliefreeman commented on #279
closing as Duplicate of #226

[2022-02-24 15:24] #279 closed

[2022-02-24 16:16] olliefreeman commented on #226
the additional "and" only works if the DC has no imported DEs as the point of the join table is to get all DCs which import a specific DE.

Really the only way to do this is with a distinct call on the DE.

[2022-02-28 14:10] olliefreeman commented on #226
this is also an issue inside DataClasses

[2022-03-01 16:13] olliefreeman commented on #243
@jamesrwelch this is actually because the UI is not using the changeFolder endpoint, its just using the PUT with
[code]
which isnt allowed as the VF is locked due to finalisation, the same issue will arise for any models if you try to use a standard update to change the folder after the model is finalised.

There is a 2 stage fix to this specific issue:
1. #235 to allow moving a folder to the root

[2022-03-01 16:25] olliefreeman commented on #235
Updating controller to accept the `destination_folder_id` in the URL `http://localhost/api/folders/{{folder_id}}/folder/{{destination_folder_id}}` as the value `root`

If it is == `root` then the parent folder will be set to null and the folder will be moved to the root

[2022-03-02 09:51] olliefreeman commented on #275
MI = ModelItem
M = Model
sMI  = sub ModelItem

This is probably an issue on any endpoint which adds a MI to an MI inside a M any url of this form `/modelType/modelId/modelItemType/modelItemId/subModelItemType`.

This is because we only check that the user can act on the M, not that the MI is inside the M.
We then add the sMI to the MI by getting it using the ID.

[2022-03-02 10:41] olliefreeman commented on #275
Issue locations with correct "find"

* Child Annotation -> Would result in a root annotation
* Child DataClass ->  Would result in a root annotation
* DataClassComponent -> Failed validation as no DF
* DataElement -> Failed validation as no DC
* DataElementComponent -> Failed validation as no DCC
* EnumerationValue -> Failed validation as no DT/ET
* ReferenceEnumerationValue -> Failed validation a

[2022-03-02 13:45] olliefreeman commented on #268
this should be a UI issue where just pass the query param "sort=label" that will sort the entries alphabetically. We should not be adding additional flags to do anything like this

[2022-03-02 13:49] olliefreeman commented on #213
@jamesrwelch how do we feel about custom profile types, i think it will break the UI as the UI depends on the types to render the profile page

[2022-03-02 13:57] jamesrwelch commented on #213
Short term option - we either treat any custom primitive types as 'String', or we fail gracefully (maybe with a validation message on the dashboard that shows all dynamic profiles).  Longer term, we might want to allow people to specify regexes or something for their custom fields and allow them.

[2022-03-02 14:30] olliefreeman commented on #268
there is a piece of work on idx and siblings work which i need to do after #241 is sorted. Whilst i do this i will be adding an endpoint to "reset" all idx values for content inside an object.

[2022-03-02 15:03] #271 closed

[2022-03-02 15:03] #235 closed

[2022-03-02 16:02] #164 closed

[2022-03-02 16:03] olliefreeman commented on #250
closing as no action

[2022-03-02 16:03] #250 closed

[2022-03-02 17:05] olliefreeman commented on #179
small update, re-reading this and rethinking...the api key never expires (apart from its actual defined `expiryDate`) and actually the correct reponse to any query using an apikey should be "happy to proceed", the only time it should respond otherwise is when the key is past its expiry date.

The issue here is completely on a collision with the sessionid stored into the cookie. We should be ignori

[2022-03-03 11:18] olliefreeman commented on #179
ive checked and there really is no way for us to know if a session was previously used due to the way tomcat invalidates a session.
We already implement the session listener so we know when one is created and destroyed but theres no link between the 2 events. So we can store the list of invalidated sessions but tomcat works by looking at the session connected to the rquest, if the max inactive tim

[2022-03-03 11:18] olliefreeman commented on #179
I am therefore closing this ticket

[2022-03-04 09:17] #275 closed

[2022-03-09 18:00] joe-crawford opened #286 "Additional profile definition validation"
# Description

After resolving issue #277, the profile validation endpoint (`/$profileNamespace/$profileName/$domainType/$id/validate`) will validate submitted profile field values only, not the profile structure. Therefore, new validation for profiles is desired:

- A new endpoint to validate the structure of a profile (a profile definition) itself.
  - An endpoint `/$profileNamespace/$profileNam

[2022-03-10 14:38] joe-crawford opened #288 "Allow filtering superseded versioned folders in tree"
# Description

The tree endpoints include parameters for filtering models to only latest versions (`includeModelSuperseded` and `includeDocumentSuperseded`). Versioned Folders should also be allowed to be filtered in the tree using these parameters.

# Additional context

From discussion: `includeModelSuperseded` should be used for both models and versioned folders.

Related to: maurodatamapper/md

[2022-03-10 19:20] jamesrwelch opened #289 "Error on creating a new branch of a versioned folder"
Please fill in the sections below, adding/removing information where applicable:

# Description

When creating a new branch of a finalised Versioned Folder, I get the following error:

[code]
# Steps to reproduce

This is running MAB on develop branch, when creating a new branch of the data dictionary VF

# Expected behavior

Not that

[2022-03-11 12:47] olliefreeman commented on #289
can't replicate this

[2022-03-11 12:53] joe-crawford opened #290 "Error validating date field in profile"
# Description

Validating a date as part of a submitted profile gives an error.

# Steps to reproduce

1. Create a dynamic profile containing a `date` type element
2. Attempt to validate the profile against a model using the UI
3. The date field will not validate

# Expected behavior

Dates in configured formats should validate

# Environment

Please complete the following information:
- mdm-core

[2022-03-11 14:29] jamesrwelch commented on #289
Nor can I any more...

[2022-03-11 14:29] #289 closed

[2022-03-11 15:35] olliefreeman commented on #288
At the same time we want to add an ApiProperty that is bootstrapped in mdm-core/mdm-core to value `false` which allows admin users to set the default for "includeModelSuperseded" which should be loaded inside TreeItemController and that value passed to the service if the query param is not supplied

[2022-03-14 15:20] joe-crawford opened #292 "Error retrieving default version of profile for dynamic profile with non-finalised version"
# Description

When the default version endpoint (`/api/dataModels/{id}/profile/uk.ac.ox.softeng.maurodatamapper.profile.provider/{profileLabel}`) for a dynamic profile is called for a dynamic profile with a finalised model version and a non-finalised model version, an error occurs.

# Steps to reproduce

1. Create a dynamic profile specification model and finalise it.
2. Apply the dynamic profile

[2022-03-17 10:03] #259 closed

[2022-03-17 10:03] #272 closed

[2022-03-17 10:05] #269 closed

[2022-03-17 11:44] #243 closed

[2022-03-17 12:01] aaronforshaw opened #295 "Internal Server Error when subsetting many data elements"
# Description

Using the subset endpoint with many additions can cause an exception.

# Steps to reproduce

1. Create a source data model containing a class with lots of data elements
2. Create an empty target data model
3. Using postman, construct a a request to
[code]
with a body containing, for example,
[code]
# Expected behavior
All data elements are saved to the target data model

# Screensho

[2022-03-21 11:57] #295 closed

[2022-03-25 15:47] jamesrwelch opened #298 "Data Model Importer can import two models with the same name"
The Data Model Importers that import multiple models - validate each model against the current state of the database, but not each other.  So it's possible to import two models with the same name at the same time, and they'll both be stored to the database.

Assigning to Ollie because he said he knew the solution

[2022-03-28 10:48] #213 closed

[2022-03-28 10:48] #290 closed

[2022-03-28 10:48] #292 closed

[2022-03-28 10:59] #241 closed

[2022-03-28 14:12] jamesrwelch opened #299 "StaleStateException server error on retrieving data elements filtered by label"
When trying to filter the list of data elements in a class, on the label, I get the following server response:

[code]

[2022-03-28 14:18] olliefreeman commented on #299
can you drop into debug on your code and try and work out what its trying to update inside data_element ... `update datamodel.data_element set version=?, date_created=?, data_class_id=?, last_updated=?, path=?, min_multiplicity=?, max_multip...`

or run with the sql logging and parameters turned on

The index endpoint should not be updating anything, so this is odd

[2022-04-03 13:37] jamesrwelch opened #300 "UserSecurityPolicy has been locked for more than 5 seconds"
## Server Error

We're sorry, but the server responded with an error message.

## Details

[code]

[2022-04-05 11:21] olliefreeman commented on #300
was this on "first login" ???

[2022-04-05 11:28] jamesrwelch commented on #300
On login, and on my local machine I've seen it other times as well - after an import.  Will try and reproduce it again

[2022-04-05 11:33] jamesrwelch commented on #300
Just reproduced it after a JSON data model import

[2022-04-05 11:34] jamesrwelch commented on #300
And renaming a folder... on my local instance

[2022-04-05 11:44] #298 closed

[2022-04-05 16:44] olliefreeman commented on #278
this actually covers all types of imports, DCs and DTs into a DM and DCs and DEs into a DC

[2022-04-06 09:06] olliefreeman commented on #277
merged

[2022-04-06 09:06] #277 closed

[2022-04-06 09:11] olliefreeman commented on #300
is it the same stack trace each time?? ...
[code]

[2022-04-06 09:14] olliefreeman commented on #300
i think we may need to up the default 5s lock time...can you try setting `maurodatamapper.security.max.lock.time` in the application.yml file to `10` ... and then restart the app and see if you still get the error

[2022-04-06 09:16] olliefreeman commented on #299
@jamesrwelch any feedback?

[2022-04-06 09:36] olliefreeman commented on #236
not sure what the root cause of this is, ive tested the basic api endpoints and the domain id is being set. This is therefore probably a legacy issue so closing

[2022-04-06 09:36] #236 closed

[2022-04-06 09:41] olliefreeman commented on #270
Removing endpoint as its not used, it was copied from the DM plugin and its not doing anythign appropriate

[2022-04-06 12:09] olliefreeman commented on #255
resolved in a1d5d075

[2022-04-06 12:09] #255 closed

[2022-04-06 12:19] olliefreeman commented on #258
arguably one would not actually be updating a SL to point to a different target, they would instead delete the existing SL and create a new one. howver the code should still work and handle this

[2022-04-07 08:31] jamesrwelch commented on #300
Different stack trace when logging in just now:

[2022-04-07 08:32] jamesrwelch commented on #300
[code]

[2022-04-07 12:01] joe-crawford commented on #260
FYI @olliefreeman, I have been able to replicate this in the UI by creating a folder, then creating a folder within it with the label 'test@example.com', then when trying to navigate to this folder in the UI, the StaleStateException/`Batch update returned unexpected row count from update` error reliably occurs on the `/api/folders/{folderId}/profiles/unused` endpoint.

Looking in the Chrome Networ

[2022-04-07 13:10] joe-crawford commented on #260
I'm consistently seeing the permissions endpoint for the folder with the '@' label take longer (about 8x) so I think something different may be happening there.

[2022-04-07 13:18] olliefreeman commented on #260
using postman
* start up, log in, call permissions on @-folder then permissions on non-@ folder, i get 2s then 20ms
* start up, log in, call permissions on non-@ folder then permissions on @-folder, i get 2s then 20ms

after performing either of the above, making any repeated calls to either of the permissions endpoints get 20ms as long as i dont restart the backend.

[2022-04-07 14:36] joe-crawford commented on #260
About the permissions calls, mine are taking 10ms for the non-@ label folder, 80ms+ for the folder with the @, they're both in the same parent folder, calling them both repeatedly.

However I agree it isn't related to permissions actually because I have now seen the issue with your threaded script above, but changing _both_ URLs to call the `/profiles/unused` endpoint. I'm seeing the error immedia

[2022-04-07 14:44] olliefreeman commented on #260
there has to be something in your database which the system is trying to update.

[2022-04-07 14:46] olliefreeman commented on #260
can you run with `grails run-app -Dlogging.sql=true -Dlogging.sql.parameters=true` ... then find out what the parameters are that its feeding to the update command, and see how they differ from the current entry in the row in the actual db

[2022-04-07 15:04] joe-crawford commented on #260
This is testing with your threaded script with both URLs set to `http://localhost:8080/api/folders/c3100f09-f68d-47eb-93f3-4e18053a3822`.

Here is the SQL log from shortly before the exception is thrown:

[code]

Here are the database values exported from IntelliJ from after the error has occurred (possibly multiple times):

[code]

So looks like the `version` and `last_updated` fields are updated

[2022-04-07 15:07] joe-crawford commented on #260
Just getting the folder URL `http://localhost:8080/api/folders/c3100f09-f68d-47eb-93f3-4e18053a3822` normally in Postman, I can see it updates `last_updated` every time.

[2022-04-07 21:49] jamesrwelch commented on #260
The updating of `last_updated` and `version` is also the root cause of #299

[2022-04-08 10:43] joe-crawford commented on #260
The issue occurs due to parsing of paths containing labels which contain special characters:

- `@` path attribute identifier
- `$` model path identifier
- `|` path delimiter
- `:` path prefix delimiter

As the path is stored as a string in the DB, using the above as special characters, sometimes there are ambiguous strings in paths, e.g. `dc:test@example` could reference a dataclass with label `t

[2022-04-08 10:45] joe-crawford commented on #260
Temporary solution: allow `:` as parsing of this is unambiguous, disallow the other special characters.

[2022-04-08 13:13] olliefreeman commented on #299
figured out whats going on,
[code]
in the find method is changing the DT for the DE which is then causing the seesion to want to update

[2022-04-12 15:19] #249 closed

[2022-04-12 15:19] #258 closed

[2022-04-12 15:19] #262 closed

[2022-04-12 15:19] #270 closed

[2022-04-12 15:19] #261 closed, assigned to olliefreeman

[2022-04-12 15:19] #299 closed

[2022-04-12 15:19] #300 closed

[2022-04-13 19:02] jamesrwelch opened #302 "Path errors on CSV Reference Data Model import"
When importing a Reference Data Model from CSV, an error (`Property [path] cannot be null`) is thrown for every row.  See attached for an example CSV file which should import

[CHP names and codes SC as at 04_12.csv](https://github.com/MauroDataMapper/mdm-core/files/8483997/CHP.names.and.codes.SC.as.at.04_12.csv)

[2022-04-13 19:02] jamesrwelch commented on #302
Another example
[Westminster Parliamentary Constituency names and codes UK as at 12_14.csv](https://github.com/MauroDataMapper/mdm-core/files/8484009/Westminster.Parliamentary.Constituency.names.and.codes.UK.as.at.12_14.csv)

[2022-04-22 08:36] jamesrwelch opened #303 "MaxClauseCount is set to 1024"
[code]
I feel like we've solved this one before...

[2022-04-22 09:00] olliefreeman commented on #303
We definitely have

[2022-04-22 11:43] olliefreeman commented on #303
`uk.ac.ox.softeng.maurodatamapper.hibernate.search.HibernateSearch#handleSearchException`

@jamesrwelch can you replicate this?? and work out why its not falling into the handling clause

[2022-04-22 12:46] olliefreeman commented on #303
dont worry....i just replicated it

[2022-04-22 12:49] olliefreeman commented on #303
its the ids and paths restricting the returned data ... i have 6K of them from 3 branches of NHSDD

[2022-04-22 14:43] olliefreeman commented on #303
they changed the inheritance of the toomanyclauses exception from SearchException to RuntimeException

[2022-04-25 15:22] olliefreeman commented on #302
the csv importer wasnt setting the model name, this is now being fixed

[2022-04-26 13:14] #302 closed

[2022-04-26 13:15] #303 closed

[2022-04-28 21:24] jelenadreskai opened #306 "Non-admin user cannot create a root folder or move a folder into a folder where he/she is not container administrator"
Folder creation/move permissions to be cleaned-up

# Description
- Non-admin user should not be able to create a folder at the root level (configurable solution - turned OFF by default), they can create a folder only in the folders where they are container administrator.

- Non-admin user should not be able move a folder to a folder where they are not container administrator (this probably should

[2022-04-28 21:28] jelenadreskai commented on #306
@jamesrwelch @olliefreeman This is a continuation of our discussion on permissions. We can have Gail work on this.

@jamesrwelch Based on our previous discussions
1) creation of the root folder should be configurable in order to make it useful to other Mauro projects. And by default, we should keep the existing behavior, but we could turn it off for us. Correct?
2) User should never be able to mov

[2022-04-29 08:44] olliefreeman commented on #306
1. so theres an open feature request about the configurable creation ability #245
2. this should have been fixed...i will look at this after the release

[2022-05-06 17:53] jelenadreskai commented on #245
@olliefreeman, we have @GBishop-PHSA already working on this? We can contribute the changes once they are done.

[2022-05-06 17:55] jelenadreskai commented on #306
@olliefreeman / @jamesrwelch  we have @GBishop-PHSA already working on this? We can contribute the changes once they are done.
Is anyone else working on this already?

[2022-05-09 12:02] olliefreeman commented on #245
@jelenadreskai @GBishop-PHSA no-one is working on this at the moment, i was about to start to but i;ll assign it to gail

[2022-05-09 12:06] olliefreeman commented on #306
i've assigned the feature request to @GBishop-PHSA, i'm going to test the actual bug referenced in this ticket, where a user can move a folder to another folder when they arent a CA for the folder

[2022-05-09 12:08] olliefreeman commented on #245
just to be clear the default should definitely be that non-admin users can create folders and classifiers at the root.

[2022-05-09 12:27] olliefreeman commented on #306
I am therefore closing, as the original "1" point is already covered in the existing linked feature request ticket

[2022-05-11 10:58] olliefreeman opened #308 "Improve speed of logging in for site admin users"
Currently site admin users iterate the entire list of securable resources to `buildFullAccessToAllSecurableResources`, this is not so bad when there are few SRs but crippling when there are lots.

The better option would just to be define a boolean in the `UserSecurityPolicy` to state "completeAccess" and then all the checks in the USP to see if a user has access can just check that boolean before

[2022-05-11 23:57] GBishop-PHSA commented on #306
@olliefreeman The issue we're having with moving folders into folders that the user doesn't have permission for, is that:
* the UI was calling the Update Folder endpoint [PUT api/folders/${folderId}]
* the Folder Interceptor doesn't have access to the destinationFolderId from the Update body of the request
* the interceptor always returned True and passed the request to the Folder Controller becau

[2022-05-18 17:55] GBishop-PHSA commented on #306
@olliefreeman  I wanted to verify that the new config to enable/disable limiting users from adding/moving folders to root is following naming convention.

I currently have it named: *security.restrict.root.folder* and it's a Boolean type.

[2022-05-20 08:44] olliefreeman commented on #306
@GBishop-PHSA wrt the folder moving...i remember now i identified that the UI was using the wrong endpoint, can you just make sure you're code is up to date with the latest develop branch for resources and UI because i could have sworn that particular issue was resolved in the latest release

[2022-05-20 08:46] olliefreeman commented on #245
@GBishop-PHSA
wrt question https://github.com/MauroDataMapper/mdm-core/issues/306#issuecomment-1130318959

the property should be `maurodatamapper.security.restrict.root.containers` as this ticket should cover both classifiers and folders...therfore ALL containters

[2022-05-20 20:14] jelenadreskai commented on #306
@olliefreeman Why is this tagged as "not a bug"? Allowing users to create folders where they are not supposed should be prevented. I guess creating the root folder/classifier may be considered as supported functionality, but not that you can move things into the folder where you are not permitted to change the content.

[2022-05-20 20:39] jelenadreskai commented on #224
@olliefreeman This is not fixed in 7.1.0/5.5.0

I have a container administrator on TestFolder>TestSubFolder folder, and my container administrator cannot import the data model. This folder (tree structure) does not show up in the importer.

Do you want me to raise a separate bug, or you will reopen this one?

[2022-05-20 20:57] jelenadreskai commented on #245
Hi @olliefreeman. Are you sure you want these 2 under the same configuration? We want both, but I am not sure about other users. They may want to allow non-admins to create classifiers, but not folders.

I would suggest having 2 separate variables:
security.restrict.root.folder
security.restrict.root.classifier (we could remove root, if there is no plan to have classifiers as a tree)

Thanks,
Jele

[2022-05-25 10:48] jamesrwelch opened #310 "Server error on branching or deleting a VF"
The same error message is occurring for both deleting (see below) and creating new branches.

[code]

[2022-05-25 22:32] jelenadreskai commented on #306
@olliefreeman I stand corrected. I have been retesting all the permissions on a new release 7.1.0/5.1.0 and see that you cannot move a folder into a parent folder (unless you are container administrator on a parent folder).

[2022-05-27 05:51] jamesrwelch opened #312 "Currently able to delete terms from a finalised terminology"
1. Finalise the Complex Test Terminology from the bootstrapped models
2. Delete terms from it

Finalised terminologies shouldn't be editable...

[2022-05-27 08:16] renovate[bot] opened #313 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] Update Grails Packages (`org.springframework.boot`, `org.grails.plugins:views-gradle`, `org.hibernate:hibernate-ehcache`, `org.hibernate:hiberna

[2022-05-27 09:19] olliefreeman commented on #312
this is an issue across all ModelItems not just terms ... im not sure exactly what change i made but i know whats going on

[2022-05-27 09:34] olliefreeman commented on #312
the permissions are pulled from what you can do to the model .... all the other permissions are therefore correct, the issue is that you can delete a finalised model ... which is whats happening

[2022-05-27 12:01] #312 closed

[2022-05-27 12:48] jamesrwelch commented on #310
Stack trace for a new branch:

[2022-05-27 12:49] jamesrwelch commented on #310
[code]

[2022-05-27 12:52] olliefreeman commented on #310
due to the way the code is called theres no way for the lock to be removed by the same process, therefore the lock must being removed by another competing process.
Therefore the solution is to have the "lock" call actually "holdForLock" to allow any other process to complete and unlock the policy before relocking and starting a new run

[2022-05-27 12:53] olliefreeman commented on #310
unfortunately this doesnt seem to be replicatable locally, so i'm going to push a fix which will have to be tested insitu inside the nhsdd instance

[2022-06-06 17:46] jelenadreskai opened #318 "Compare data model functionality broken"
# Description

Cannot initiate Compare data model functionality

# Steps to reproduce

1. Login as and Administrator or Container Administrator (this may not work for other user types as well)
2. Select data model in the tree structure, right click and select Compare to Another model
3. Error is shown to the end user

# Expected behavior

Compare UI shows up to the end user

# Screenshots
![image]

[2022-06-07 07:34] olliefreeman commented on #318
moving this to the ui, as the UI is using the wrong endpoint.
It should be

`api/tree/$containerDomainType/$catalogueItemDomainType/$catalogueItemId`

[2022-06-09 16:00] joe-crawford opened #320 "Default ordering on Data Elements orders by label rather than index."
# Description

A call to list Data Elements in a Data Class, e.g. `GET /api/dataModels/{dmID}/dataClasses/{dcID}/dataElements?max=20`, should order by index by default, however the default ordering is by label.

# Steps to reproduce

Create a Data Class, then inside it create Elements `Elem 3`, `Elem 2`, `Elem 1` in that order. The indices on the back end will retain the entry order however when c

[2022-06-15 08:22] #242 closed

[2022-06-16 13:09] aaronforshaw opened #321 "Catalogue Item Search endpoint does not bind dates"
# Description

Internal server error when trying to search catalogue items by date.

# Steps to reproduce

`POST /api/catalogueItems/search` with a payload containing a date, e.g.
`{"sort":"label","order":"desc","offset":null,"searchTerm":"CDW", "domainTypes": ["EnumerationType"], "lastUpdatedBefore": "2022-06-30"}`

# Expected behavior
Dates should be bound, and in the example above search result

[2022-06-16 17:28] #321 closed

[2022-06-17 08:07] aaronforshaw opened #323 "Exception on null or invalid date format when searching"
# Description

Following the fix for #321, a null pointer exception is provoked by posting a null date value. e.g.

`POST /api/catalogueItems/search`
with body
[code]

A ParseException is provoked by sending an string which cannot be parsed to a date.

# Steps to reproduce

The former can be reproduced by using the UI search function with no dates set (in which case the UI sends null values for ea

[2022-06-20 08:29] #323 closed

[2022-06-21 13:34] #320 closed

[2022-06-23 09:54] joe-crawford opened #326 "Add ordering to JSON exporter"
# Description

Imported JSON data models don't preserve ordering of data elements, data classes, etc. Add index to appropriate export gsons to preserve ordering. Also check XML importers.

# Environment

mdm-core develop branch

[2022-06-23 09:57] joe-crawford opened #327 "Exclude special characters from enumeration value keys"
# Description

Java heap space overflow when importing a datamodel where an enumeration value had a special character, likely `$`. Invalid characters ($, @, |) should be rejected.

# Environment

mdm-core develop branch

[2022-06-24 12:44] jamesrwelch commented on #278
Re-opened because this fails when the models are in different folders within the same VF.  Fix shortly in a PR

[2022-07-06 08:17] aaronforshaw opened #329 "Add tests for bulk edit of terms in a terminology"
# Description

PR (https://github.com/MauroDataMapper/mdm-core/pull/194) added the capability and tests for bulk editing of data elements within a data model. It is now necessary to add tests for bulk editing of terms in a terminology, in order to verify that this does work as imagined in the PR.

[2022-07-06 11:54] pringinacio opened #330 "Error on main branch after deleting a previous version"
# Description

After deleting a finalized version, accessing main version start throwing exceptions.

# Steps to reproduce

1. Create a new model
2. Add a data class
3. Finalize it (version 1.0.0).
4. Create a new version of the previous model
5. Finalize it /version (1.1.0).
6. Create a new version of the previous model
7. Delete version 1.0.0
8. Try to access main version
9. An error is thrown:

[2022-07-07 09:06] jamesrwelch commented on #330
Hi @pringinacio Thank you very much for reporting this, and your proposed resolution.  We'll check the code and the tests, and try and get the issue resolved asap.

[2022-07-07 16:08] joe-crawford commented on #268
Would be desirable to allow treating certain specific ModelItem collections as unordered, as otherwise the system won't remember which should be displayed as ordered and the default ordering by index may be arbitrary (in insertion order if creating ModelItems by the UI).

Options to allow treating some ModelItem (element, class, etc.) collections as unordered:
1. Treat a collection of MIs all havi

[2022-07-11 10:33] #329 closed

[2022-07-11 12:17] joe-crawford opened #334 "ReferenceDataModel can contain multiple enumeration values for the same row and column"
# Description

ReferenceDataModels are structured like a spreadsheet (https://maurodatamapper.github.io/glossary/reference-data-model/reference-data-model/) so should allow only one ReferenceDataValue per row and column (element), the `unique` constraint in ReferenceDataValue.groovy is intended to enforce this but doesn't seem to have the desired effect.

# Steps to reproduce

Using Postman repeat

[2022-07-11 12:21] #274 closed

[2022-07-14 13:11] aaronforshaw opened #339 "Include the multiFacetAwareItem in getMany response"
# Description

Issue https://github.com/MauroDataMapper/mdm-ui/issues/580 requires breadcrumbs to be returned in the response from the endpoint `POST /{domainType}/{domainId}/profile/getMany`

The response should be changed to include the multiFacetAwareItem (of which breadcrumbs is one part).

[2022-07-15 09:53] joe-crawford opened #341 "ReferenceEnumerationValues not exported correctly in ReferenceDataModel XML export"
# Description

XML elements exported for ReferenceEnumerationValues in a ReferenceDataModel don't match the defined XSD.

XSDs in mdm-plugin-referencedata and REV test in XmlReferenceDataImporterExporterServiceSpec should be updated.

# Environment

mdm-core latest develop

[2022-07-19 09:25] #257 closed

[2022-07-19 13:48] #339 closed

[2022-07-19 14:03] #334 closed

[2022-07-19 15:31] joe-crawford opened #344 "Update Grails to 5.1.9"
Update mdm-core and plugins in @MauroDataMapper-Plugins to Grails 5.1.9.

Grails has released a fix to a Remote Code Execution vulnerability that affects Grails running on Java 8 (https://grails.org/blog/2022-07-18-rce-vulnerability.html). We are running on Java 17 so the RCE is not confirmed on mdm-core, but an upgrade is strongly suggested.

CVE: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CV

[2022-07-21 09:43] #278 closed

[2022-07-21 09:44] jamesrwelch commented on #234
@joe-crawford Does this sound like something fixed by #343?

[2022-07-21 09:45] joe-crawford commented on #234
Yes this should be fixed by the change to always sort child ModelItems on saving in #343.

[2022-07-21 09:46] joe-crawford commented on #234
There's a test in that PR against the bootstrapped Complex Data Model, the issue was the ModelItems weren't being sorted when multiple new ModelItems were added to the DataModel across multiple different saves.

[2022-07-21 11:57] joe-crawford opened #347 "Possible to create duplicate SecurableResourceGroupRoles"
# Description

Validation in SecurableResourceGroupRole class on `securableResourceId` field should prevent creating multiple SRGRs with the same `securableResourceId` and `userGroupId`, however repeated POSTs to the `/api/${securableResourceDomainType}/${securableResourceId}/groupRoles/${groupRoleId}/userGroups/${userGroupId}` endpoint in quick succession can bypass this validation. The system th

[2022-07-21 12:07] #256 closed

[2022-07-25 14:16] #254 closed

[2022-07-25 14:19] #330 closed

[2022-07-25 14:20] #347 closed

[2022-08-02 09:59] #326 closed

[2022-08-02 15:53] joe-crawford opened #350 "Child BreadcrumbTrees not deleted when parent Model is deleted"
Version: mdm-core latest develop

Applies to DataModels and Terminologies but not ReferenceDataModels and CodeSets.

[2022-08-05 11:20] #344 closed

[2022-08-06 04:58] #350 closed

[2022-08-11 10:11] pjmonks opened #353 "Remove requirement for Postgresql database user to be SUPERUSER"
# Description

Currently the documentation says that the Postgresql database user mapped to the Mauro database must be set to the `SUPERUSER` role. One of the reasons why, which I have discussed with the developers, is to provide an efficient way of bulk inserts and fast deletion of records without foreign key constraints.

This only works in an environment where you have full control over the ser

[2022-08-13 12:44] JakubDylag opened #354 "Internal Server Error upon Permanent Data Model Deletion"
# Description

When trying to permanently delete a large Data Model (JSON export over 100MB) an Internal Server Error occurs causing the REST API to crash and make web client unresponsive. A restart of all docker containers seems to resolve the issue.

# Steps to reproduce

1. Right Click on large DataModel
2. Select "Delete Permanently" option

# Expected behavior

Permanent Deletion of the model

[2022-08-13 19:43] jamesrwelch commented on #354
Hi Jakub - thanks for reporting this - it sounds like something we want to address pretty quickly.  We already have optimisation of delete operations in our sights, so this seems like a good starting point.
Are you able to somehow share the large model in question?  Or if not, tell us a bit more about it - is it large in size because of a large number of classes / elements, or a lot of metadata fi

[2022-08-13 19:46] jamesrwelch opened #355 "'Extends' Data Classes are not copied when creating a new branch"
A Data Class that 'extends' another data class within the same model is not being copied correctly when branching / creating a new version - the 'extends' property is not being copied.

[2022-08-13 19:47] jamesrwelch commented on #355
Probably means #242 is not complete / correct

[2022-08-13 19:51] jamesrwelch opened #356 "Error on branching a Versioned Folder"
If you have a finalised VF, and create a new version of it, you get a draft 'main' version.  If you then try to create a new branch of the original VF, you get an exception - that there is a model with a non-unique id.
If however, you create the branch immediately from the finalised VF - it happily creates both a new main draft, and the requested branch.  Further branching succeeds.

[2022-08-16 13:23] pjmonks opened #357 "Add API property to control default state of "includeModelSuperseded" filter"
Extracted from a comment in issue #288:

"At the same time we want to add an ApiProperty that is bootstrapped in mdm-core/mdm-core to value `false` which allows admin users to set the default for "includeModelSuperseded" which should be loaded inside TreeItemController and that value passed to the service if the query param is not supplied"

_Originally posted by @olliefreeman in https://github.co

[2022-08-18 10:41] pjmonks opened #359 "Include additional info of model data types in responses for Data Elements"
# Description

Issue MauroDataMapper/mdm-ui#506 highlights a problem contacting the backend too many times because not all information is provided in the `GET api/dataModels/{dataModelId}/dataClasses/{dataClassId}/dataElements`.

In this particular scenario, if a data element contains a `dataType` that is a `ModelDataType` (or another data type that references something else in the catalogue), the

[2022-08-18 13:38] pjmonks commented on #359
I've been investigating this issue to see how hard it is to change. Here are my notes on my understanding of fetching the Data Elements, along with questions for the maintainers.

# Fetching Data Elements

The `GET api/dataModels/{dataModelId}/dataClasses/{dataClassId}/dataElements` endpoint will lead to `DataElementService.findAllDataClassIdIncludingImported()`. To produce the page of results fro

[2022-08-18 14:40] joe-crawford commented on #359
@pjmonks, my thoughts:
1. Yes I think if we can get acceptable performance without adding the denormalised column that's probably the way to go.
2. Yes that sounds reasonable. I think a reasonable way to do it is to add the necessary fields extra to the ModelDataType domain as 'transient' fields (names in `static transients = [...]` block), then populate them as necessary. If we know we'll always

[2022-08-18 14:44] joe-crawford commented on #359
There's a similar example where the Controllers decide whether to load extra information into some transient fields in SemanticLinkService's loadMultiFacetAwareItemsIntoSemanticLink and loadMultiFacetAwareItemsIntoSemanticLinks methods.

[2022-08-18 14:53] jamesrwelch commented on #359
Agree with Joe's comments.  If performance is an issue, it might be possible to 'batch load' the data models based on the ids - so rather than issuing a query per datatype, it could issue a single query once all the appropriate ids are known.  But most displays are paginated, so hopefully performance won't be a problem.

[2022-08-25 08:38] jamesrwelch opened #360 "Breadcrumb transient exception when storing profile"
Instance running develop branch gets the following stack trace when trying to store a profile against a codeset:

[code]

[code]

[2022-08-25 08:54] jamesrwelch opened #361 "403 Forbidden response when filtering"
Typing in the filter field results in several API calls being made - this is expected.  However, it appears that when too many calls are made in quick succession, a 403 Forbidden response comes back.  This can be seen when filtering for a data type within a model, ,filtering for a data element within a data class, and filtering for a term within a terminology.
It seems to happen equally when the t

[2022-08-25 09:18] jamesrwelch commented on #361
Struggling to recreate this locally - wonder this is something the apache proxying is doing - throttling repeated requests

[2022-08-25 09:25] jamesrwelch commented on #361
Apache mod_evasive looking quite suspicious here...

[2022-08-25 09:47] jamesrwelch commented on #361
I've changed the config on mod_evasive and that seems to have worked.  Marking this as closed for now, but we can re-open if the problem reappears.

[2022-08-25 09:47] jamesrwelch commented on #361
Not a Mauro Bug

[2022-08-25 09:48] jamesrwelch commented on #361
Not a Mauro Bug

[2022-08-25 09:48] #361 closed

[2022-08-25 09:52] JakubDylag commented on #354
Hi James,
Apologies for the late reply. I'm not sure I'll be able to share the meta data as the data itself is under licence, but I can relay this to my colleagues. The model has over 83,000 elements distributed among 66 nested classes, with the largest class having around 8,000 elements. Most elements have additional metadata stored in "Other Properties". Furthermore the model has 24,000 data typ

[2022-09-12 15:43] joe-crawford opened #362 "Password reset email date/time is not recorded when no email server configured"
# Description

In a Mauro instance with no SMTP settings configured, when an  Admin requests a password reset for a user, the email text is stored but there is no date/time recorded, so the latest email cannot be easily found.

# Steps to reproduce

1. As an admin in an instance without SMTP configuration, using the Manage Users page, send a password reset email.
2. On the Emails page, the Date/Ti

[2022-09-14 18:52] GBishop-PHSA opened #363 "API endpoint to get the latest finalised data model by data model label"
# Description

The API currently provides a Get request to return the latest data model using the data model path (label and optional version number). When the version number is excluded from the path, it returns draft models, if one exists for that label. An additional request parameter to limit results to the latest finalised data model would be helpful for sharing links to published data models

[2022-09-28 00:11] GBishop-PHSA commented on #363
Ready for review
mdm-ui PR: https://github.com/MauroDataMapper/mdm-ui/pull/665
mdm-core PR: https://github.com/MauroDataMapper/mdm-core/pull/364

[2022-10-03 19:16] joe-crawford opened #367 "Sorting data elements results incorrect indexes"
# Description

When reordering data elements, sometimes the resulting indexes are not unique which results in an incorrect order being displayed.

# Steps to reproduce

e.g.
1. Create a data class
2. Create data elements with labels `DE1`, `DE2`, `DE3`
3. Using UI (data class elements page) reorder DE1 to be in the second position
4. Refresh page and see the original order is still incorrectly dis

[2022-10-03 19:17] #288 closed

[2022-10-31 11:16] pringinacio opened #370 "View "User & Group Access" in Finalized models"

[2022-10-31 11:33] pringinacio opened #369 "Creation of a new version does not copy finalized model "User & Group Access" information"

[2022-11-03 13:56] joe-crawford commented on #363
Closing as completed.

[2022-11-03 13:56] #363 closed

[2022-11-03 15:44] jamesrwelch commented on #370
As an aside, @pringinacio , we'd be very interested to hear what you're up to with Mauro, and support you if we can - please do chat with us on Zulip :)

[2022-11-17 18:21] GBishop-PHSA commented on #370
@jamesrwelch I'd like to contribute a code change so that the User & Group Actions icon appears for finalized models as well.
Would a small change to the UI be a good solution instead of returing Update from the API?

The API already returns "finalisedEditActions", so the security-handler.service.ts would be updated from :
showPermission: element.availableActions?.includes('update')

to:

showPerm

[2022-11-18 12:31] jamesrwelch commented on #370
@GBishop-PHSA Thank you, yes.  I'd like the back-end to return the correct thing, but a quick UI fix in the meantime would be much appreciated, thank you.

[2022-11-18 22:55] GBishop-PHSA commented on #370
@jamesrwelch Here's the pull request for the UI change.
https://github.com/MauroDataMapper/mdm-ui/pull/674

[2022-11-22 19:30] GBishop-PHSA opened #371 "Classified Elements endpoint does not filter results"
# Description

When a user clicks the filter button on the Classified Elements tab in the Classification Details screen, and enters a value in one of the columns - Name, Description or Type, the results returned are not filtered.

# Steps to reproduce

1. Go to Classifications tab
2. Click on a classification that is associated with catalogue items of different types (models, classes, elements)
3.

[2022-11-23 15:14] joe-crawford opened #372 "Asynchronous Model import should check providerHasSavedModels parameter"
When importing a Model asynchronously, the providerHasSavedModels parameter should be checked as it is when importing synchronously. When `true`, the provider should set all model properties including the folder, and do all validation and saving.

### Environment

mdm-core latest develop

[2022-11-25 17:49] GBishop-PHSA commented on #371
There are 2 pull requests ready for review:
https://github.com/MauroDataMapper/mdm-core/pull/374
https://github.com/MauroDataMapper/mdm-ui/pull/677

[2022-11-25 19:59] GBishop-PHSA opened #375 "Allow results to be case-insensitive sorted"
# Description

Currently, if a GET request has a sort parameter set, the order is case sensitive. This can make it difficult to find an item, if data classe are always lower case but data models are always in upper case. A request should be able to specify if the results should have a case insensitive sort order.

# Additional context
The new feature could read a new request parameter called ignor

[2022-11-26 00:32] GBishop-PHSA commented on #375
Pull requests:
https://github.com/MauroDataMapper/mdm-core/pull/376
https://github.com/MauroDataMapper/mdm-ui/pull/678